[2011-10-27 02:00] jollychang opened #3 "Creating an instance of the test library 'RequestsLibrary' with no arguments failed: AttributeError: 'module' object has no attribute 'settings'"
pybot testcase.txt
[ ERROR ] Invalid syntax in file '/Users/jollychang/Works/robotframework-requests/tests/testcase.txt' in table 'Settings': Creating an instance of the test library 'RequestsLibrary' with no arguments failed: AttributeError: 'module' object has no attribute 'settings'
Traceback (most recent call last):
  File "/Library/Python/2.7/site-packages/robot/running/testlibraries.py", lin

[2011-10-27 02:40] #3 closed, assigned to nobody

[2012-07-10 09:34] mikelee84 opened #5 "To have the ability to use SSL without verifying certificates"
Is there is a possibility to have create session keyword to remove SSL verification cert when creating a HTTPS session?

[2012-10-30 08:39] androgen opened #6 "Put keyword doesn't support raw text in data parameter"
Could you please update Put keyword to support not only dictionary in data parameter but also raw text. Just like it is done in Post keyword.

[2012-11-01 03:47] #6 closed, assigned to bulkan

[2013-02-18 19:20] lunarman opened #8 "dealing with expanded dictionary key-value"
hi,
first off, great work on integrating this function into robot.
however, there's a slight problem that i'm running into with this lib.
is there a way to deal with JSON data whose key has extensive nested key-value pairs or even deeper nested objects?
say, by introducing a known tag or something?
e.g.:
{"data":[{"stuff":[
    {"onetype":[
        {"id":1,"name":"John Doe"},
        {"id":2,"name

[2013-07-17 11:09] swapnilpatne opened #9 "API Documentation"
Can you please provide API documentation something like this http://peritus.github.io/robotframework-httplibrary/HttpLibrary.html

[2013-07-17 23:47] #9 closed, assigned to nobody

[2013-07-18 11:19] #8 closed, assigned to bulkan

[2013-08-21 11:33] bulkan opened #10 "Multi-Part file upload support for Post keyword"

[2013-08-21 12:59] #10 closed, assigned to bulkan

[2013-09-05 23:01] techkarma opened #11 "Support for setting allow_redirects param"
This is not really an issue, but a request.

Have you considered support for setting the "allow_redirects" parameter?  Currently, it defaults to True, but allowing false would allow some advanced test cases.  Two examples are:
1. verify that a site properly provides the expected 301 or 302 response.
2. use the header from the 301/302 response to manually traverse the redirect sequence.

I added th

[2013-09-09 09:37] hztony opened #12 "urlcode error"
20130909 17:37:21.726 : TRACE : Return: {u'charset': u'UTF-8', u'Content-Type': u'application/x-www-form-urlencoded'}
20130909 17:37:21.726 :  INFO : ${headers2} = {u'charset': u'UTF-8', u'Content-Type': u'application/x-www-form-urlencoded'}
20130909 17:37:21.727 : TRACE : Arguments: [ u'idcInfo' | u'{"id":"","name":"\u6d59\u6c5f\u9f50\u6cbb\u8fd0\u7ef4\u4e2d\u5fc3","abbr":"\u94f6\u4e30\u5927\u53a

[2013-09-09 11:28] #12 closed, assigned to nobody

[2013-09-10 08:49] hztony opened #13 "get() function uri.strip('/') should uri.strip('') ?"
20130910 16:48:40.440 :  INFO : ${headers} = {u'charset': u'UTF-8', u'Content-Type': u'application/x-www-form-urlencoded'}
20130910 16:48:40.441 : TRACE : Arguments: [ u'chopper' | u'/api/basic/model/list/' | {u'charset': u'UTF-8', u'Content-Type': u'application/x-www-form-urlencoded'} ]
20130910 16:48:40.458 : DEBUG : "GET /api/basic/model/list HTTP/1.1" 301 281
20130910 16:48:40.477 : DEBUG : "G

[2013-09-11 05:19] bulkan opened #14 "create session isn't creating two sessions in same test"

[2013-09-11 09:32] hztony opened #15 "${data} is very complex,so that the case run failed"
test case:
    ${code}    Convert to Integer    200
    ${headers}    Create Dictionary    Content-Type    application/x-www-form-urlencoded    charset    UTF-8
    ${data}    Create Dictionary    boundInfo    {"id":"","task_def_id":77,"name":"2013005","task_type":1,"cmd_type":2,"schedule_expr":"0 24 _/1 \* \* *","content_type":"NONE","action":"0","config":"\"rep\":\"0\",\"freq\":\"1\",\"model\":\

[2013-09-12 01:08] #15 closed, assigned to nobody

[2013-09-12 13:42] #14 closed, assigned to nobody

[2013-09-12 13:44] #13 closed, assigned to nobody

[2013-09-19 00:04] #5 closed, assigned to nobody

[2013-09-29 05:49] hztony opened #16 "how to use https"
example ?

[2013-09-29 06:21] #16 closed, assigned to nobody

[2013-11-21 14:13] swapnilpatne opened #17 "Delete method giving error "TypeError: not a valid non-string sequence or mapping object""
**\* Variables ***
${JSON_DATA}                    {file:{path:"/logo1.png"},"token":"some-valid-oauth-token"}

Create Session    test    http://some-test-api.com
${headers}  Create Dictionary  Content-Type  application/json
${resp}=    Delete    test  /delete  data=${JSON_DATA}  headers=${headers}
${jsondata}=    To Json    ${resp.content}

Fails on third line above with "TypeError: not a valid n

[2013-12-05 04:32] snsamitdengale opened #18 "Error: AttributeError: 'unicode' object has no attribute 'items'"
Hi,
I don't have a request API testing experience so I am new in this field.
I am trying to post a request which contains huge data in input json
I have followed all the steps given in https://github.com/bulkan/robotframework-requests/blob/master/tests/testcase.txt#L12
I have created a testcase for post

Create Session    test    URL
${headers}  Create Dictionary  Content-Type  application/json
Se

[2013-12-05 04:52] #18 closed, assigned to nobody

[2013-12-20 08:49] hztony opened #19 "how to deal with http payload"
Request URL:http://192.168.9.67/api/script/new
Request Method:POST
Status Code:200 OK
Request Headersview source
Accept:text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,_/_;q=0.8
Accept-Encoding:gzip,deflate,sdch
Accept-Language:zh-CN,zh;q=0.8,en;q=0.6
Cache-Control:max-age=0
Connection:keep-alive
Content-Length:1287
Content-Type:multipart/form-data; boundary=----WebKitFormBoundary

[2013-12-23 07:54] #19 closed, assigned to nobody

[2014-02-04 16:08] vijaymanickam opened #20 "Maven plugin for installing requests library"
Hi, Is there a maven plugin for this library. My requirement is to test rest api calls.
Would it be possible to test using selenium2library as well. Please let me know.

[2014-02-04 22:50] #17 closed, assigned to nobody

[2014-02-04 22:51] #20 closed, assigned to nobody

[2014-02-04 22:52] #11 closed, assigned to nobody

[2014-02-11 12:35] ratlsun opened #21 "Posting direct string (not dictionary) with unicode data cause UnicodeEncodeError."
Hi,
I am a beginner using this robotframework library to test my restful http api. I am trying to post a request which contains a json string data (not dictionary data) with multicodes(unicode) characters.

The case like:
++++++++++++++++++++++++++++++++++++++++++++++++++
Post With Unicode Data
    Create Session  httpbin  http://httpbin.org
    ${resp}  Post  httpbin  /post  {'jsonkey':'度假村multic

[2014-02-11 12:48] #21 closed, assigned to nobody

[2014-03-06 13:55] IlfirinPL opened #26 "Add support for new type of request OPTIONS, TRACE, PATCH"
Add support for new type of request OPTIONS, TRACE, PATCH

[2014-03-12 00:31] AndersQA opened #27 "Extraneous text added to top of XML POST payload"
I am getting extra text at the start of my XML file that is causing the XML parser to choke on the POST payload.

Here is my RobotFramework code:
  ${file_data}  Get File  ${CURDIR}${/}myFile.xml
  ${fileDictionary}=  Create Dictionary  file1  ${file_data}

  Create Session  my_session  ${server}

  #Build Request
  Set Test Variable  ${requestURL}  /destination

  #Create headers
  ${headers}=  C

[2014-03-12 22:03] #27 closed, assigned to nobody

[2014-03-27 20:18] kerbam opened #29 "Support for Put request with files and Content-Type multipart/form-data"
I have a server that requires files sent over a Put request to update files on the server side. Any chance of supporting files being sent over put, similar to the Post request or is there a way to send them currently? I'm not sure if this is an issue with the framework, but I know this type of request works in other applications (SoapUI and Jmeter). Test case is below.
[code]

[2014-04-25 17:27] t3Nitro opened #32 "Add possibility to control auto-redirects for all methods"
There is possibility to disable/enable redirection for all methods in requests library by setting allow_redirects parameter. Please add possibility to use it from Robot
http://docs.python-requests.org/en/latest/user/quickstart/#redirection-and-history

Thanks!)

[2014-07-31 14:06] mircoc opened #38 "Adding / to get parameters on url"
When handling a request like:
http://www.mysite.com/v01/contents/12345/download?formats=html5

the requested url is:
http://www.mysite.com/v01/contents/12345/download?formats=html5/

It seem that the _get_url method have a problem.

[2014-07-31 22:01] #38 closed, assigned to nobody

[2014-09-16 08:45] yahman72 opened #40 "Not working with authenticating Proxy"
The RequestsLibrary doesn't work at all behind an authenticating proxy.
The "proxies" setting parameter seems to be ignored.

The GET request is sent directly to the target host, instead of the proxy host
See the "Starting new HTTP connection" entry in the debug log

<pre>
debug log:
==============================================================================
20140916 10:32:15.811 - INFO - +- ST

[2014-10-23 16:06] jerry57 opened #41 "Error running pip after requests install, "ImportError: cannot import name IncompleteRead""
After installing robotframework-requests using pip on Ubuntu 14.04 I am getting an error on all pip commands after that.

sudo pip install -U robotframework-selenium2library
Traceback (most recent call last):
  File "/usr/bin/pip", line 9, in <module>
    load_entry_point('pip==1.5.4', 'console_scripts', 'pip')()
  File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 351, in load_entry_p

[2014-10-23 22:36] #41 closed, assigned to nobody

[2014-11-10 22:09] #32 closed, assigned to nobody

[2014-11-12 22:52] jerry57 opened #44 "RequestsLibrary always show in red in RIDE with an import error"
Is there a reason that RequestsLibrary always shows in red with an import error?

Here is what appears in the RIDE log:

20141112 15:44:39.421 [INFO]: Started RIDE 1.3 using python version 2.7.6 with wx version 2.8.12.1 in darwin.

20141112 15:44:46.382 [WARN]: Importing test library "RequestsLibrary" failed

Traceback (most recent call last):
Importing test library 'RequestsLibrary' failed: Impor

[2014-11-12 23:41] #44 closed, assigned to nobody

[2014-12-02 13:32] lupul-cel-bun opened #46 "Minor typo"
Line 183
Method post

[code]

should read:

[code]

[2014-12-03 05:09] #46 closed, assigned to nobody

[2015-01-06 14:32] jerry57 opened #49 "Documentation html referenced in README.md out of date"
The documentation referenced in the readme.md file is out of date.  Should be linked to the github repo doc/RequestsLibrary.html somehow (if possible) to always be updated.

<SNIP>
Documentation

For individual keyword documentation see the following;

http://bulkan.github.io/robotframework-requests/

You can update the documentation once checked out by going to the top directory of this repo and

[2015-01-26 14:37] vvmann opened #50 "Parse XML data fails when parsing request content."
Given an xml file:
<?xml version='1.0' encoding='utf-8'?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:media="http://search.yahoo.com/mrss/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:dcterms="http://purl.org/dc/terms/"><channel><description><![CDATA[Toinen Saksan-Tanskan sota mullisti Tanskan tulevaisuuden suurvaltana. Sota k\xc3\xa4ytiin vuonna 1864, kun

[2015-01-26 22:40] bulkan commented on #50
Pull requests welcome

[2015-01-27 10:01] vvmann commented on #50
I'll try to look into this later this week.

[2015-03-02 12:05] nagesh1hs commented on #44
Hi jerry57,

  Your python library does not have the request library thats why your requests are not imported.
  Try these commands it will work.
1. pip uninstall robotframework-requests
2.pip install requests
3. pip install robotframework-requests
   Then run your robot frame work test cases it will work.

Regards
Nagesh

[2015-03-11 20:27] RamakrishnaKolli commented on #10
@bulkan

How to upload image file  along with data using post request

[2015-04-06 14:04] merrittr opened #54 "request for additional functionality"
could you add a method like the following to allow Digest authentication?

edit
/usr/local/lib/python2.7/dist-packages/RequestsLibrary/RequestsKeywords.py
to expose the HTTPDigestAuth:

    def create_digest_session(self, alias, url, auth, headers={}, cookies=None, timeout=None, proxies=None, verify=False):
       digest_auth = requests.auth.HTTPDigestAuth(*auth) if auth else None
       return se

[2015-06-22 09:37] ShashwatDubey opened #55 "Fail to import RequestLibrary in ride editor"
I have installed RequestsLibrary using following command - pip install -U robotframework-requests and have added the same in my environment variable and then tried to import in ride editor.

but somehow its not working and coming in RED color which means, there is some error, may be in installation or configuration. At the same, i tried similar steps with another robot library and it was working f

[2015-06-22 09:46] bulkan commented on #55
@ShashwatDubey is related to #44  ?

[2015-06-22 12:51] ShashwatDubey commented on #55
Got it.
Now i am able to use it.
Thanks @bulkan

Also, can you please help me help with a sample test case for using POST request ?

[2015-06-22 13:00] bulkan commented on #55
No problem.

https://github.com/bulkan/robotframework-requests/blob/master/tests/testcase.txt#L49

[2015-06-22 13:00] #55 closed

[2015-09-03 17:03] jenliusa opened #60 "separate the connection timeout with the requests' timeout"
It seems that the post, get and other requests use the same timeout which is created when the session is created. It will be very helpful, the user can set the different timeouts for the different requests.

[2015-09-03 17:07] jenliusa opened #61 "minor misleading printout information in the post_request keyword"
def post_request(self, alias, uri, data={}, headers=None, files={}, allow_redirects=None):

        print "Deprication Warning  Use Post Request in the future"

      The above print statement should be removed.

[2015-09-04 01:30] bulkan commented on #60
Pull requests welcome

[2015-11-16 22:40] oleduc opened #64 "License"
Hi,

Me and my employers would like to use your software, however you have not decided on a license yet. It would be greatly appreciated if your could pick a license!

http://choosealicense.com/

Thank you.

[2015-11-17 02:54] huyentruong opened #65 "AttributeError: 'unicode' object has no attribute 'items'"
Hi,
I don't have a request API testing experience so I am new in this field.
I am trying to post a request which contains huge data in input xml
I have created a testcase for post

Create Session	httpbin aaa
${resp}=	Post	httpbin		'Content-Type':'application/xml'
Should Be Equal As Strings	${resp.status_code}	200

When I am trying to run the test case, getting error as "AttributeError: 'unicode' o

[2015-11-17 03:07] bulkan commented on #65
Not quite sure what's wrong. Can you share your test  in a better format ? Maybe in a gist.github.com ?

[2015-11-17 03:13] #64 closed

[2015-11-17 03:13] bulkan commented on #54
Pull requests welcome

[2015-11-17 15:45] oleduc commented on #64
@bulkan Thank you!

[2015-11-18 00:28] bulkan commented on #64
@oleduc no problem at all

[2015-11-18 10:21] huyentruong commented on #65
Yes, I am trying to post a request which contains data in input xml but it failed. Please help me. My target is get content of request to save into a variable and use this variable to compare result. But
I have just created a testcase for post request as below link

https://gist.github.com/huyentruong/fb4bfd816dd70fd01508

When I am trying to run the test case, getting error as ${resp} = <Response

[2015-11-18 11:37] bulkan commented on #65
I believe this line is the problem;

https://gist.github.com/huyentruong/fb4bfd816dd70fd01508#file-gistfile1-txt-L8

what is the content-type of the response ?

[2015-11-18 13:41] huyentruong commented on #65
When I removed two last sentences, it doesn't work. It received response 400.

And content-type of the response is application/xml

[2015-11-18 14:50] oleduc commented on #65
You can parse ${resp.content} with an XML parser and assign the result to a variable.

http://robotframework.org/robotframework/latest/libraries/XML.html

[2015-11-18 14:55] huyentruong commented on #65
Thanks oleduc.

I still get response 400 from post request so i can not get content of http response :(

[2015-11-18 15:04] oleduc commented on #65
There might be many reasons why you get a 400 response. You have to look at the message the server is giving you. That said, you can try specifying the charset in the header's Content-Type.

Also, why are you passing the dictionary as a file? Can't you simply send the payload as data?

${resp}=	Post Request	CatalogWS	/ValidateItemInfo/MCKWHEADEVQA	data=${files}	headers=${headers}

If you use files

[2015-11-18 15:20] huyentruong commented on #65
Yes, I updated my test case in the below link:
https://gist.github.com/huyentruong/fb4bfd816dd70fd01508

And I got the error message: AttributeError: 'unicode' object has no attribute 'items' :(

[2015-11-18 15:52] oleduc commented on #65
Something that should be iterable is actualy a unicode string.
Headers should be iterable. So maybe:

${headers}=    Create Dictionary    Content-Type=application/xml
${resp}=    Post Request    CatalogWS    /ValidateItemInfo/MCKWHEADEVQA    data=${files}    headers=${headers}

[2015-11-18 16:00] huyentruong commented on #65
@oleduc thank you so much

[2015-11-18 16:02] oleduc commented on #65
@huyentruong No problem ;)

[2015-11-18 16:43] huyentruong commented on #65
@bulkan thank you. I solved my problem.

[2015-11-18 16:43] #65 closed

[2015-11-18 22:28] bulkan commented on #65
thanks @oleduc for helping out :)

[2015-11-24 05:13] vkosuri opened #66 "Deprication Warning Use Post Request in the future"
Hello,

I am seeing this warning continuously even though i have used Post Request method

[code]

Could you please suggest me did i made any mistake here?
[code]

Thanks
Malli

[2015-11-24 08:14] mkumatag commented on #66
Try installing the latest version of robotframework-requests package and try.

[2015-11-24 09:11] vkosuri commented on #66
Thanks its worked with
[code]
-Malli

[2015-11-24 09:11] #66 closed

[2015-11-26 00:56] #61 closed

[2015-12-01 00:08] vkosuri opened #67 "Resetting dropped connection"
Hi,

I am frequently getting Resetting dropped connection from my UUT, are we reusing the same HTTP session?

Any other methods to avoid this this error?

A snapshot from robot test log

![resettingdropped](https://cloud.githubusercontent.com/assets/13664257/11488573/990aaebe-97ed-11e5-94c5-9cee717203a3.png)

Thanks
Malli

[2015-12-01 04:59] bulkan commented on #67
Which version of robotframework-requests are you using ?

[2015-12-01 05:14] vkosuri commented on #67
VERSION = '0.3.9'

[2015-12-01 05:32] bulkan commented on #67
Thanks. Thats the latest release.

We dont [reuse sessions](https://github.com/bulkan/robotframework-requests/blob/master/src/RequestsLibrary/RequestsKeywords.py#L58).

Not sure why you are getting that error. Try with a bigger request timeout ?

[2015-12-14 09:55] vkosuri opened #68 "Is it possible to add http debugger information for every operation"
Hi

We are sending huge number of requests to NE, Sometimes it is very difficulty to find what inforamtion sent from client to server,

Is there any possibility add looger debug information for every input operation?

I found a example located for python requests

http://docs.python-requests.org/en/master/api/#api-changes

[code]
More inforamtion https://docs.python.org/2/library/httplib.html#http

[2015-12-14 10:44] bulkan commented on #68
Sure thing submit a pull request.
On Mon, 14 Dec 2015 at 8:55 PM, Mallikarjunarao Kosuri <
notifications@github.com> wrote:

[2015-12-17 12:20] wind-chh opened #71 "Post request fail in 0.3.9 but success in 0.3.8"
This is my case lines in Robot,
${policy_data} = BuiltIn.Set Variable {"jsonType":"networkpolicy","ownerId":${ownerId},"name":"${name}","description":"${desc}","type":"NetworkAccessAndSwitching"}
${output} = RequestsLibrary.Post Request new-policy, /services/config/policy/networkpolicies, headers=${headers}, data=${policy_data}

my case worked in 0.3.8, but failed in 0.3.9. I think it maybe the un

[2015-12-23 00:53] #68 closed

[2015-12-24 03:36] vkosuri commented on #67
It came from urllib https://github.com/shazow/urllib3/blob/master/urllib3/connectionpool.py#L240

Not to do any with this package because it's uses internally

urllib3 snippet

[code]

[2015-12-24 03:36] #67 closed

[2015-12-24 03:40] vkosuri commented on #71
Try this

[code]

[2015-12-24 03:54] vkosuri commented on #29
@bulkan can i submit PR on this issue?

[2015-12-24 03:55] vkosuri commented on #50
@bulkan can i submit PR on this issue?

[2015-12-24 12:46] bulkan commented on #50
@vkosuri of course you can

[2015-12-24 15:45] vkosuri commented on #50
Not able to reproduce with below example

[code]

[code]
output
[code]
 If you having any specific example please let me know i'll try to reproduce this issue.

[2015-12-28 10:04] #60 closed

[2015-12-28 10:42] bulkan commented on #29
@vkosuri sure you can :)

[2015-12-28 14:48] vkosuri commented on #71
@wind-chh any updates?

[2015-12-28 23:56] vkosuri opened #73 "Documentaion updation"
It seems libdoc updated was very old at http://bulkan.github.io/robotframework-requests/, Will updated it.

[2015-12-29 00:17] vkosuri commented on #29
It seems to me requests doesn't support **PUT request with Content-Type multipart/form-data**, More information see this thread https://github.com/kennethreitz/requests/issues/1081

Other alternative are list here

http://docs.python-requests.org/en/latest/user/quickstart/#post-a-multipart-encoded-file

http://stackoverflow.com/questions/12385179/how-to-send-a-multipart-form-data-with-requests-in-

[2015-12-29 00:29] vkosuri commented on #29
An example here

pybot  -L DEBUG:INFO --noncritical SKIP Requests_Tests.robot

[code]
Debug header displays, let me know if you required any further help.

![http-multipart](https://cloud.githubusercontent.com/assets/13664257/12027727/1f4a6820-adf1-11e5-85f1-16975cfa0198.png)

[2015-12-29 01:05] vkosuri commented on #54
@bulkan can i work on this?

[2015-12-29 01:22] vkosuri commented on #73
@bulkan will submit PR

[2015-12-29 01:23] vkosuri opened #74 "Testcase updation"
Due new modification changes in lib, i think it requires test cases updatation also, if so can i submit PR?

[2015-12-29 15:28] vkosuri opened #75 "max_retries applies only DNS lookups, socket connections and connection timeouts"
Other than three we are seeing max_retries won't work, we have to add other meachnasim

https://github.com/kennethreitz/requests/blob/c1f51fd1002850b931aba8e25474ab753cabf687/requests/adapters.py

[code]

[2015-12-29 15:30] vkosuri commented on #75
A useful decorator found at http://www.saltycrane.com/blog/2009/11/trying-out-retry-decorator-python/

[code]

Will submit PR

[2015-12-30 13:40] vkosuri commented on #75
This feature has retested, will submit PR

[code]

[2015-12-31 17:48] vkosuri commented on #75
@bulkan Any comments/suggestions on this PR?

[2016-01-02 11:37] vkosuri commented on #74
I have added get testcase for digest auth,

@bulkan Let me know any specific testcases required?

[code]

[2016-01-02 16:37] vkosuri commented on #75
@bulkan Thank you, any updates on this?

[2016-01-03 01:04] vkosuri commented on #26
@bulkan Options and PATCH methods are done, does TRACE method required?
They said the method was weird https://github.com/kennethreitz/requests/pull/1345

[2016-01-04 01:54] bulkan commented on #26
If requests doesn't support TRACE then we don't need to worry about it either.

[2016-01-04 01:55] #26 closed

[2016-01-04 01:55] vkosuri commented on #26
Thank you very much

[2016-01-04 02:06] bulkan commented on #74
@vkosuri You can submit a PR for anything you think is necessary :)

[2016-01-04 02:07] bulkan commented on #50
No response from OP

[2016-01-04 02:07] #50 closed

[2016-01-04 02:08] #71 closed

[2016-01-04 02:09] bulkan commented on #40
@vkosuri if you want to look at this issue too please :100:

[2016-01-04 02:24] vkosuri commented on #40
@bulkan thank you and sure

[2016-01-04 02:46] #75 closed

[2016-01-04 02:46] #54 closed

[2016-01-04 13:41] vkosuri commented on #40
@yahman72 It seems to working fine with below example, Let me know if you have any issues?

I have installed fallowing packages in my machine.
[code]

Example

[code]

[code]

[2016-01-04 14:39] yahman72 commented on #40
your code has two major mistakes:
1) it's doesn't use a proxy at all:
you set a proxy for http**s** connections and then you open a connection using http --> there's no proxy involved
2) your proxy settings are not for an authenticating proxy (i.e. proxy username + password are missing)

[2016-01-04 14:55] vkosuri commented on #40
I tried with user name and pass it is working fine. Could try with your example and let me know the output?

[code]

[code]

[2016-01-04 15:21] yahman72 commented on #40
Unfortunately I'm not anymore behind an authenticating proxy = I cannot test this.

Actually your example code doesn't test the issue at all:
as I wrote: `The "proxies" setting parameter seems to be ignored.The GET request is sent directly to the target host, instead of the proxy host`
i.e. in your example the request is sent directly to "http://www.google.com", if it would be sent to the proxy it

[2016-01-04 17:52] merrittr commented on #54
Hi Bulkan

I just saw this close msg Id like to merge in , I honestly don't know where to start is vkosuri doing it?

[2016-01-04 18:55] oleduc commented on #54
@merrittr The PR was merged but was not included in any release. We need @bulkan to create a release in order to have #76 in production.

[2016-01-05 02:55] bulkan commented on #54
I just pushed `0.4.0` to PyPI

[2016-01-06 01:10] vkosuri commented on #40
@yahman72 Thank you very much, I have tried without auth it went fine.

Below is my test script

[code]
A sample screen shot of response

![proxyinfo](https://cloud.githubusercontent.com/assets/13664257/12132193/778ebc3a-b43f-11e5-997d-45870fa6361a.png)

And also the error was listed above snippet

[code]
**This behavior may occur when the Web Proxy service connection settings do not allow enough

[2016-01-07 01:32] #74 closed

[2016-01-07 01:33] #73 closed

[2016-01-10 03:23] vkosuri commented on #40
@yahman72 any updates?

[2016-01-11 05:15] yahman72 commented on #40
you are again testing without proxy authentication, there's no problem with that (see my original post).

[2016-01-15 12:38] momacoy opened #82 "TypeError: get_request() got an unexpected keyword argument"
Encountered `TypeError: get_request() got an unexpected keyword argument` when url has a query parameter using the following environment:
[code]
But not encountered in the following enviroment:
[code]
Code:
[code]

Log:
[code]

Is there a workaround for this?

[2016-01-15 17:49] vkosuri commented on #82
you are trying to use both url and params instead use

[code]

[2016-01-18 02:57] momacoy commented on #82
@vkosuri Thanks! the workaround works.

The version used for `windows` and `linux` are different:
`windows: requests-2.8.1` , `linux: requests-2.9.1`

[2016-01-18 03:26] vkosuri commented on #82
@momacoy thank you, More information passing params, http://docs.python-requests.org/en/latest/user/quickstart/#passing-parameters-in-urls

[2016-01-19 01:52] momacoy commented on #82
@vkosuri Thanks a lot!

[2016-01-19 01:52] #82 closed

[2016-01-25 08:55] vkosuri opened #83 "Retry decorator consumes so much time when we have large number of requests from unit"
It seems to the retry decorator **consumes so much time when we have large number of requests from unit**, it is working fine if we have a small number requests.

Here some statistics i observed using robot profiler

With retry decorator statistics

<pre>
1    0.000    0.000    0.000    0.000 RequestsKeywords.py:21(__init__)
  248    0.011    0.000  287.346    1.159 RequestsKeywords.py:217(patch_r

[2016-01-25 11:11] momacoy opened #84 "Post Request and Put Request does not support parameter passsing"
I was trying to issue `POST / PUT` request to `/uri?key=value` with body in `xml` format but it seems that both `POST` and `PUT` request does not support passing of parameters `key=value`.

I have tried the following:
[code]
The following error is encountered:
`TypeError: post_request() got an unexpected keyword argument 'params'`

Is there other way to pass parameters in `POST/PUT` request?

[2016-01-25 15:43] oleduc commented on #84
Hi @momacoy, it seems like it is indeed not supported at the moment. However this is a very easy fix, I'll submit a quick PR if you don't want to get involved.

But if you want to do it yourself this project's author is very active and accepting pull requests.

[2016-01-25 15:55] oleduc commented on #83
@vkosuri Hi, the current implementation of the retry operator is using time.sleep which locks the thread for the given period of time.

I'm not sure why we use our own implementation instead of the one already bundled with requests. We might want to revert that.

[2016-01-25 16:20] oleduc commented on #84
Done #85

[2016-01-26 02:57] momacoy commented on #84
Hi @oleduc,

Thanks! I'm still new in python and robotframework.
Also, regarding:
`${resp}= Post Request session1 /uri?key=value data=${body}`
the following error is encountered:
`TypeError: post_request() got an unexpected keyword argument '/uri?key'`

[2016-01-26 03:35] vkosuri commented on #84
@momacoy ```requests >=2.9``` url with params wont work please downgrade it to ```requests 2.8```

[2016-01-26 18:57] oleduc commented on #84
@momacoy Actually this is caused by our retry decorator which I removed in my PRs, #86 fixes that issues.

[2016-01-26 23:12] momacoy commented on #84
@oleduc Does this means that downgrading to `requests 2.8` would still not work?
Ok, I'll try to fork the project and merge you pull request.
Thanks!

[2016-01-27 04:46] oleduc commented on #84
@momacoy I'm positive that it would not.

[2016-01-27 05:51] momacoy commented on #84
@oleduc Okay. Thanks!

[2016-01-27 09:54] vkosuri commented on #40
@yahman72 I apologies, I didn't find any concrete example to reproduce this issue, If you find similar type issue with latest code changes please create another issue

If you are satisfied, could you please close this issue?

[2016-01-27 10:06] vkosuri opened #87 "Adding robot requests to external test libraies at robotframework.org"
For more visibility we need add it [robotframework-requests](https://github.com/bulkan/robotframework-request) at http://robotframework.org/#test-libraries

[2016-01-27 13:58] vkosuri commented on #87
They mentioned I'll close this PR as the library is already listed on the web page

[2016-01-27 13:58] #87 closed

[2016-01-31 10:21] #40 closed

[2016-02-02 05:11] yahman72 commented on #40
sorry for the late reply, I was offline for a couple of days.

Just a quick note on this:
I don't see any results with authenticating proxy, only proxy-requests without authentication. So it might be that it's still not working.
Closing this is fine with me, because I don't have access to an environment that has an authenticating proxy.

[2016-02-03 08:18] cluehr opened #90 "Get Request doesn't seem to work properly anymore"
I gave version 0.4.0 a try which broke my tests. In the first place it seemed I was using the `Get Request` keyword in the wrong way (I was passing an URI including GET parameters which returned an error). After fixing this and using the `params` dictionary I got stuck with `RetryException`s. I was not able to find a reason for this. Testing the URL with a browser worked like a charm so I assume t

[2016-02-03 09:06] Mogztter opened #91 "Verify parameter should accept String value"
Requests library allow to configure the CA bundle file or directory with certificates of trusted CAs with the `verify` parameter: http://docs.python-requests.org/en/latest/user/advanced/#ssl-cert-verification

In the `_create_session` function, the `verify` parameter is converted to boolean: https://github.com/bulkan/robotframework-requests/blob/master/src/RequestsLibrary/RequestsKeywords.py#L129

[2016-02-03 09:27] vkosuri commented on #91
@Mogztter Are you interested work on this issue? If so could you submit PR for this issue?

[2016-02-03 09:29] vkosuri commented on #90
@cluehr could share example testcase?

It is working fine in my machine with 0.4.0 version.

[code]

[2016-02-03 11:05] Mogztter commented on #91
Done :smile:

[2016-02-03 14:24] oleduc commented on #90
@cluehr Hi, you're passing query parameters along with your uri, it will not work. It is a known bug and it is fixed by PR #86

[2016-02-03 19:09] cluehr commented on #90
The following test works in version 0.3.9:

[code]

In version 0.4.0 I get the following error:

[code]

So I changed the test and put the URL parameters into a dictionary and provide the dictionary to `Get Request`:

[code]

But now I get the RetryExceptions:

[ WARN ] host=suchen.mobile.de uri: /api/deep-link not responding, Retrying in 1.09 seconds ...
[ WARN ] host=suchen.mobile.de uri: /api/d

[2016-02-03 19:31] oleduc commented on #90
@cluehr Currently all exceptions are caught and converted into a RetryExceptions. I'd stay away from 0.4.0 until all outstanding pull requests are merged.

[2016-02-11 12:57] #83 closed

[2016-02-11 12:57] #84 closed

[2016-02-11 22:17] #91 closed

[2016-02-11 22:22] jerry57 commented on #90
This is a problem for us as well.  All of our "data=" lines are already formatted JSON.  I was able to keep our current "data=<formattedJSON>" by changing the following in RequestsKeywords.py

        #data = self._format_data_according_to_header(data, headers)
        data = self._utf8_urlencode(data)
This solved the problems with uri as well.  For the time being, we are using the v0.4.0 with abo

[2016-02-11 22:22] bulkan opened #94 "Version 0.4.1 or 0.5.0 ?"
Hi @vkosuri & @oleduc ,

I was about to publish a new version to PyPI but not sure which version number I should go with.

Was #86 a major or minor issue ?

Also @oleduc yes I would like it if you guys can help out here as I don't use RF anymore.

[2016-02-11 22:52] oleduc commented on #94
I say 0.4.1 as we didn't implement any major features. And great, we use RF and rf-requests very heavily at my workplace and we will continue to do so for the foreseeable future.

[2016-02-12 00:16] vkosuri commented on #94
@bulkan i agreed with @oleduc will go with 0.4.1 before that we need finish below tasks

- [ ] Pending PRs
- [ ] testcase updation with latest changes
- [ ] gh-pages updation

[2016-02-12 00:29] vkosuri commented on #90
@jerry57 Could try replace **_format_data_according_to_header** procedure with below fix and let me know?

[code]

[2016-02-12 00:30] bulkan commented on #94
@oleduc Thanks !

I've pushed 0.4.1 to PyPI. I can always create another release when we merge more of the  PR's

[2016-02-12 00:31] #94 closed

[2016-02-12 00:34] bulkan commented on #90
@vkosuri I don't think you need the two `else`

[2016-02-12 00:59] vkosuri commented on #90
@bulkan correct, in shorter version

[code]

[2016-02-12 02:47] bulkan commented on #90
@vkosuri even that remaining

[code]

is unnecessary

[2016-02-12 04:35] vkosuri commented on #90
Thank you @bulkan, yes it's overlook, will submit PR

[2016-02-12 13:19] jerry57 commented on #90
Did a clean checkout of master
added following in place of original _format_data_according_to_header code

def _format_data_according_to_header(self, data, headers):
    if data is not None and headers is not None and 'Content-Type' in headers:
        if headers['Content-Type'].find("application/json") != -1 and not _is_json(data):
            data = json.dumps(data)
        elif headers['Content

[2016-02-12 16:40] jerry57 commented on #90
Here is exactly what was entered in the source file:
`    def _format_data_according_to_header(self, data, headers):
        if data is not None and headers is not None and 'Content-Type' in headers:
            if headers['Content-Type'].find("application/json") != -1 and not _is_json(data):
                data = json.dumps(data)
            elif headers['Content-Type'].find("application/x-www-f

[2016-02-12 16:50] vkosuri commented on #90
@jerry57 can you try to download the file from here? https://github.com/vkosuri/robotframework-requests/blob/get-req/src/RequestsLibrary/RequestsKeywords.py

[2016-02-12 17:54] jerry57 commented on #90
Tried that and am getting the same error, even after removing the installed library and reinstalling from source

[2016-02-12 17:57] vkosuri commented on #90
could you share your RequestsLibrary.py

[2016-02-12 18:10] jerry57 commented on #90
I believe I have it committed here:
https://github.com/jerry57/robotframework-requests/blob/master/src/RequestsLibrary/RequestsKeywords.py

[2016-02-13 02:45] vkosuri commented on #90
could you try to replace this ```_is_json``` function as below

[code]

[2016-02-14 03:45] vkosuri commented on #90
@jerry57 could you try again with latest changes of https://github.com/bulkan/robotframework-requests/pull/95

[2016-02-15 19:54] jerry57 commented on #90
I finally got a chance to give this a try today and am getting an "indent" error on the "except Value" line.  I have triple checked the spacing and indent and it seems correct.  It's like it needs something after the except ValueError line

[2016-02-15 19:57] oleduc commented on #90
except ValueError as e:

[2016-02-15 20:07] jerry57 commented on #90
`
    def _is_json(data):
        try:
            json_obj = json.loads(data)
        except ValueError as e:
`
Is what I have and getting the indented error

[2016-02-16 01:18] vkosuri commented on #90
These are common errors will get when there are combination of tabs and white spaces are included in your python code

If you are using notepad++ please enable tab and white space option

<img src = "http://www.martinrinehart.com/frontend-engineering/engineers/tools/notepad-pp/support/tabs02.jpg" />

Or if you are using ```vi``` or ```vim``` please add below lines in ```~/.vimrc```

<pre>
" Enable

[2016-02-17 04:50] vkosuri opened #100 "TypeError: unsupported operand type(s) for -=: 'unicode' and 'int'"
Observed this when i modified max_retries to some other vales, because robot values are in Unicode while passing other modules

[code]

To fix this issue we need type cast max_retries into integer

[code]

[2016-02-17 04:51] vkosuri commented on #100
@bulkan will submit PR

[2016-02-17 05:44] #100 closed

[2016-02-25 12:28] girishsortur commented on #90
Any updates on this issue? I have `robotframework-requests (0.4.4)` but still get this error. Or can anyone let me know what version to install in order to avoid this error? Thanks

[2016-02-25 14:07] vkosuri commented on #90
@girishsortur could you share screen shot of you error? and full stack trace?

[2016-02-25 14:09] jerry57 commented on #90
I tried the latest this morning again (0.4.4) and our testcases still failed.  I replaced the following line in 3 locations (POST, PATCH, PUT REQUESTS) and the problem appears to go away.

`    #data = self._format_data_according_to_header(data, headers)
    data = self._utf8_urlencode(data)
`
This was sighted in our original assessment of the issue.

[2016-02-25 22:06] bulkan commented on #90
Can you share a sample testcase file with a failing test ?

[2016-03-01 12:11] girishsortur commented on #90
@vkosuri I am facing issue with SSLError currently and so i am not able to reproduce this error. When i try to run scripts i get following error -

[code]
Here's the full trace i got -

[code]

Is this an issue with `robotframework-requests` or `Requests`?

[2016-03-02 11:50] girishsortur opened #101 "GET Request throws - SSLError: ("bad handshake: SysCallError(-1, 'Unexpected EOF')",)"
From the time i have updated robotframework libraries, test scripts written in `.tsv` format fail all the time with the error - `SSLError: ("bad handshake: SysCallError(-1, 'Unexpected EOF')",)`, though it was working normally earlier. Issue is arising from the `RequestsLibrary` when i am trying to perform a `GET` operation (though create session works fine to authenticate the user before performi

[2016-03-02 22:25] bulkan commented on #90
@girishsortur I've never seen that exception before and a quick good found this result;

http://stackoverflow.com/questions/14102416/python-requests-requests-exceptions-sslerror-errno-8-ssl-c504-eof-occurred

[2016-03-03 14:01] girishsortur commented on #90
Thanks @bulkan. I upgraded my openssl version and i am not getting this error anymore. Now i am getting a different error, not sure what this means -

[code]

I tried searching online but didn't any help on that. Any ideas on this?

[2016-03-10 23:14] bulkan commented on #101
I'm not sure what the cause of this error is but googling around found this

https://github.com/kennethreitz/requests/issues/2022

Closing this issue as the error seems to be occurring within `requests` and this library

[2016-03-10 23:14] #101 closed

[2016-03-17 11:44] yongchao88 opened #104 "can requests library support chinese response in robot?"
![image](https://cloud.githubusercontent.com/assets/11289655/13845107/b188d152-ec78-11e5-85d2-a02af23a5d6c.png)

[2016-03-17 11:45] yongchao88 commented on #104
if the response have chinese content, that will cause mess code

[2016-03-17 22:51] bulkan commented on #104
Can you provide a test case ?

Pull requests are welcome

[2016-03-18 10:07] yongchao88 commented on #104
the case have some kind of secret, I just use it to send a request to a chinese website, then always cause mess code on it.

[2016-03-18 10:45] bulkan commented on #104
Can you write a testcase against request https://httpbin.org/ ?

On Fri, 18 Mar 2016 at 9:07 PM, zhangyongchao <notifications@github.com>
wrote:

[2016-04-11 14:46] arjenjobse opened #105 "Post request keyword troubles from version 0.4.2 upwards"
Since update to version 0.4.2 my testcase doesn't work anymore.

My testcases:

_Requests-library updaten
    RequestsLibrary.Create Session    AWACS    ${awacs_url}
    ${request}=    Get Binary File    ../RobotFramework/Test_code/_Data/test01.xml
    ${requests}=    Create Dictionary    request=${request}
    ${resp}=    RequestsLibrary.Post Request    AWACS    ${awacs_uri}    ${requests}
    De

[2016-04-11 15:07] arjenjobse commented on #105
And I found the solution: adding the content type in the header.

So I added:
_&{headers}=    Create Dictionary    Content-Type=application/x-www-form-urlencoded_

And I the Post Request is using the content type now:
_ ${resp}=    RequestsLibrary.Post Request    AWACS    ${awacs_uri}    data=${requests}    headers=${headers}_

[2016-04-11 16:35] oleduc commented on #105
Hi,

Right now the content of the request is formatted according to the header type as you just found out by yourself.

If you ever encounter a situation where your content type is not implemented, please add a feature request or provide a pull request.

Thanks!

[2016-04-14 03:48] #105 closed

[2016-04-14 03:48] bulkan commented on #104
No response from OP

[2016-04-14 03:48] #104 closed

[2016-04-26 13:17] bale836 opened #108 "please help to confirm one confusion about the function: _format_data_according_to_header"
def _format_data_according_to_header(self, session, data, headers):
        headers = self._merge_headers(session, headers)

        if data is not None and headers is not None and 'Content-Type' in headers and **not self._is_json(data)**:
            if headers['Content-Type'].find("application/json") != -1:
                data = json.dumps(data)
            elif headers['Content-Type'].find("ap

[2016-04-26 23:12] bulkan commented on #108
@vkosuri can you please help with this ?

[2016-04-27 00:22] vkosuri commented on #108
@bulkan sure

[2016-04-27 01:20] vkosuri commented on #108
I remember correctly all robot test values are in Unicode values, that's the reason we made it as ``` not self._is_json_data()```

It seems to me working fine with json data also

[code]

Could you provide a simple testcase with failing scenario?

[2016-05-12 10:26] bobdoah opened #109 "execfile in the setup.py file is not available in python3"
It's not possible to install the library under python3 as the execfile builtin method has been removed:

[code]

[2016-05-12 16:55] roimvargas opened #111 "Create Session keyword prints "Argument types are..." in the logs."
The Create Session keyword in printing the following message to Robot logs:
[code]

Or the below message if max_retries is passed as max_retries=${1}:
[code]

This problem does not affect the test result but causes confusion, since the message appears out of context in the logs. The test developer does not know what is the message referring to.

This is happening because in the `_create_session` m

[2016-05-12 17:45] vkosuri commented on #108
@bale836 any updates on this issue?

[2016-05-18 01:37] ramzg opened #114 "Host not responding error with https (same host works with http)"
Hi,

I am trying to use this library for automating the tests of our rest api.

It works well for http requests. But when I try to use https (unverified, self-signed certificates), I run into the following issue:

[code]

The following is my test case:

[code]

To troubleshoot, I tried to manually run the "create_session" method and "get_request" method with appropriate arguments in the python int

[2016-05-18 01:43] bulkan commented on #114
Hi @ramzg from the log you shared it seems like you're actually sending requests to `https://foo.com/mycontext` which is returning 404.

Also foo.com doesn't have https

[2016-05-18 01:47] ramzg commented on #114
@bulkan Thanks for the quick response.
No. I can confirm that the URL works in a browser and also when I try executing RequestsKeywords in the python console (by calling the create_session and get_request method)

[2016-05-18 01:52] bulkan commented on #114
@ramzg no problem !

So are you trying to do a GET request to https://foo.com/mycontext or some other private url ?

[2016-05-18 01:53] ramzg commented on #114
Oh, I am so sorry - should have been more clear with the question.

That is indeed on a private URL - I just replaced it with foo.com.

[2016-05-18 02:07] bulkan commented on #114
What is the error message you're getting when running the test case against your private server ?

[2016-05-18 02:15] ramzg commented on #114
This is the exact error from my console:

[code]

The same testcase, when used with "http" succeeds:

[code]

[2016-05-18 02:17] bulkan commented on #114
Are you using a self signed certificate ?
Do you get a certificate error when you try to access your server via a browser ?

[2016-05-18 02:20] bulkan commented on #114
Also on the SNIMisssingWarning exception I found this post on SO;

http://stackoverflow.com/questions/34681096/having-trouble-using-requests-for-urls

 https://urllib3.readthedocs.io/en/latest/security.html#snimissingwarning

[2016-05-18 02:25] ramzg commented on #114
Yes I'm using a self signed certificate and the browser indeed gives a certificate error. So I'm using the verify=False option for the Create Session step.

And yes, I went through those threads about urllib3 but those are just warnings, aren't they?

[2016-05-18 03:07] vkosuri commented on #114
@ramzg are you using through ```pybot or ride```? You said you succeed through python console, could you list down steps you did on console?

[2016-05-18 03:10] ramzg commented on #114
@vkosuri I am running robot-framework as a maven plugin (http://robotframework.org/MavenPlugin/)

I will copy and paste the entire python console output in a few minutes.

[2016-05-18 03:24] ramzg commented on #114
Here is the console output when running on python console:

[code]

Please note that I am using "/" as the context path here and it works here but not from inside the robot test case.

[2016-05-18 03:43] ramzg commented on #114
@bulkan @vkosuri I tried it outside of maven using "robot" and I see this exception:

[code]
With the following test case:

[code]

[2016-05-18 04:02] bulkan commented on #114
looks like the `verify=False` isn't working

[2016-05-18 04:05] ramzg commented on #114
@bulkan Yes, actually it's kind of weird.
Once I remove verify=False, it works fine **outside** of maven. Looks like a bug? Other than that, I think we're good there.

However, with maven, I still get the same error. Any ideas on that?

[2016-05-18 04:23] bulkan commented on #114
It looks like when you pass `verify=False` it's still treated as `True`

[2016-05-18 04:28] ramzg commented on #114
Yes. I guess I will just remove that option. I see that verify=False is the default anyways.

But I am wondering why it does not work when executed as a maven goal but works as expected when executed as a standalone robot execution.

[2016-05-18 04:54] ramzg commented on #114
OK. I realized I had to pass some SSL parameters to maven to let it know that it is OK to ignore ssl certificate errors (it's going to be an internal app). Once I did that, it started working from within maven also!

Thanks @bulkan and @vkosuri for your time and support. You guys are awesome!

[2016-05-18 04:54] #114 closed

[2016-05-18 05:07] bulkan commented on #114
@ramzg this was also a bug which i've fixed in

https://github.com/bulkan/robotframework-requests/commit/83d628e4b3747b8e92eb30700fa6942ed4b302df

[2016-05-18 05:09] ramzg commented on #114
@bulkan Thank you! I'm assuming you meant the verify=False being taken as verify=True?

[2016-05-18 05:09] ramzg commented on #114
@bulkan Thank you!

[2016-06-08 08:56] Tset-Noitamotua opened #116 "Works too slow behind corporate proxy (approx. 10 times slower than httplibrary)!"
Hi, I have speed / performance issues with this library when using it behind a proxy although the tests run against an internal service which does NOT require a proxy. It´s like this lib or 'request' is ignoring or takes to long to process the NO_PROXY settings.

The example test run below shows a comparison with [robotframework-httplibrary](https://github.com/peritus/robotframework-httplibrary) [

[2016-06-08 09:28] Tset-Noitamotua commented on #116
EDIT: If I turn off proxy settings in Windows then performance is approx. the same as with httplibrary. Of course that can be considert as a workaround only.

I guess that `Create Session` does not process default settings `proxies=None` correctly(?)

[2016-06-08 10:19] Tset-Noitamotua commented on #116
It´s a known bug in 'requests' --> [#2988](https://github.com/kennethreitz/requests/issues/2988)

[2016-06-08 17:04] Tset-Noitamotua commented on #116
I reopen this with respect to the idea represented by PR #117

This could be the easiest way to make this library usable on corporate networks which are behind a proxy but at the same time the tests do not need to go through that proxy.

Unfortunately #117  does not finally solve the delay issue. But may be some one else can pick up the idea with `trust_env` and make it working.

[2016-06-09 11:18] Tset-Noitamotua commented on #116
Implemented [Lukasa`s](https://github.com/kennethreitz/requests/issues/2988#issuecomment-224686400) suggestion ... unfortunately still having a ~5 seconds delay

![image](https://cloud.githubusercontent.com/assets/5635462/15927749/af23e0f2-2e43-11e6-815a-bda364455f91.png)

![image](https://cloud.githubusercontent.com/assets/5635462/15927798/e9e9b77a-2e43-11e6-94b9-46c9829bca4e.png)

![image](https

[2016-06-10 05:51] Tset-Noitamotua commented on #116
May I redirect [this question](https://github.com/kennethreitz/requests/issues/2988#issuecomment-224920991) to you @bulkan ?

[2016-06-28 12:59] bale836 commented on #108
yes, @vkosuri  is right.
i check it again with original version, it is work now.
maybe i have another mistake in that test, you can close it.

[2016-06-28 18:38] saurav2222 opened #120 "To have the ability to use SSL without verifying certificates"
I am using Create session to a url which does not have a valid ssl certificate. So i am using something like below

Create Session  test  "URL"  verify=False
${resp}= Get Request test  "URL"
Should be equal As Strings  ${resp.status_code}  200
Dictionary should contain value  ${resp.json()}   "some text"

when i run this test i get an error
KEYWORD RequestsLibrary . Create Session MD1, https://dms

[2016-06-29 01:11] bulkan commented on #120
Hi there which version of `robotframework-requests` are you using ?

[2016-06-29 03:19] vkosuri commented on #120
@saurav2222 could you try like this?

[code]

[2016-06-29 06:45] saurav2222 commented on #120
@vkosuri i get the same results when i use verify=${False}
But anyways i have the certificate for the URL now and it works
I have removed verify now and i believe verify=False is set by default
I believe the issue was due to the authentication so now when i have provided authentication it works fine.
But i think when we specify verify=${False} it does not work properly because in my case with auth

[2016-06-30 03:44] vkosuri commented on #120
@saurav2222 I have added a testcase with verify False, it was passed successfully, I think the problem could be with your credentials..

[code]

[2016-06-30 03:59] #120 closed

[2016-06-30 14:32] saurav2222 commented on #120
@vkosuri not any issue rather a question related to the Requests library
    Create session  MD1  https://dms.md1.drivescale.com  auth=${cred}
    ${resp}= 	Get request 	MD1     /ds/user?properties=username%2Cid
Now ${resp.json()} has the following data
[{
	u 'username': u 'sk3@ds.com',
	u 'id': u '08f560ec-2382-4017-94fa-507c50d705c5'
}, {
	u 'username': u 'admin@drivescale.com',
	u 'id': u '0f7f

[2016-07-01 07:10] saurav2222 opened #121 "not an issue rather a question related to the Requests library"
This is not an issue rather a question related to the Requests library
Create session MD1 https://dms.md1.drivescale.com auth=${cred}
${resp}= Get request MD1 /ds/user?properties=username%2Cid
Now ${resp.json()} has the following data
[{
u 'username': u 'sk3@ds.com',
u 'id': u '08f560ec-2382-4017-94fa-507c50d705c5'
}, {
u 'username': u 'admin@ds.com',
u 'id': u '0f7f1635-844d-4c09-a4b0-905e15e7423

[2016-07-01 09:16] vkosuri commented on #121
@saurav2222 your query should be asked in [robotframework-users](https://groups.google.com/forum/#!forum/robotframework-users).

[2016-07-01 09:19] saurav2222 commented on #121
@vkosuri   Bulkan  told me to ask this on github

[2016-07-01 09:39] vkosuri commented on #121
Don't know it will exactly you could try like this.

[code]

[2016-07-01 10:06] saurav2222 commented on #121
I am getting this error
"Invalid argument specification: Positional argument after varargs."

[2016-07-01 12:45] saurav2222 commented on #121
Thank you for the help @vkosuri
Below code works like a charm

Test1
    [Tags]    test
    ${cred}=  Create List  admin@drivescale.com  Admin11!
    Create session  MD1  https://dms.md1.drivescale.com  auth=${cred}
    ${resp}=  Get request  MD1  /ds/user?properties=username%2Cid
    ${id}=  Get User from Response  ${resp.json()}  sk3@ds.com

*** Keywords ***
Get User from Response
    [Arguments

[2016-07-01 12:45] #121 closed

[2016-07-03 09:04] achyut002 commented on #10
@swapnilpatne

can you please post a working sample/example.

[2016-07-03 17:01] vkosuri commented on #10
[code]

[2016-07-03 17:23] vkosuri commented on #116
@Tset-Noitamotua can you try with this patch https://github.com/bulkan/robotframework-requests/pull/122? and let us know your observations?

[2016-07-03 19:41] Tset-Noitamotua commented on #116
@vkosuri of course, will check it tomorow in office.

[2016-07-04 05:56] vkosuri commented on #116
Thanks @Tset-Noitamotua I have added trust_env param also, you could try with this.

[2016-07-04 11:36] Tset-Noitamotua commented on #116
It works! Thanks @vkosuri !
And I found out that my implementaion (#118), works as well :-))).
But there is one important thing to note: `False` needs to be passed in  correctly:
**IMPORTANT USE ${FALSE} -->** `trust_env=${FALSE}`. The mistake I did was I passed it in as string `trust_env=Flase`, and I did not notice it because my own logging fooled me :-/

![image](https://cloud.githubusercontent

[2016-07-05 14:23] saurav2222 opened #123 "How to edit a json file and replace some text in it and then use this json for a post request"
I have a json file in which i have replace a string and to pass to a Post Request
Below is the json file and i need to replace the value of the id with the one i have
{
    "nodeTemplates": [{
        "minDriveRpm": 5400,
        "driveTagsExcluded": null,
        "minDriveSize": 20000000000,
        "driveTagsRequired": null,
        "drives": 1,
        "name": "test",
        "rotating": true,

[2016-07-05 23:26] bulkan commented on #123
Hi @saurav2222

This question doesn't really relate to `robotframework-requests` and more of a general robot framework question. There is already a place to ask these questions;

https://groups.google.com/forum/#!forum/robotframework-users

Cheers

[2016-07-05 23:26] #123 closed

[2016-08-01 15:11] ceol75 opened #124 "API Rest and Robot Framework - Get Request and InsecureRequestWarning"
Hello,
I am going to test Rest API by using 'RequestsLibrary' Robot Framework library.
I retreived correctly the token of the session.
However, I am not able to be connected without certificat. I have not certificat at my disposal.
Below the code:

 _${headers}	Create Dictionary	Accept=application/json	Authorization=token ${token_component}
Create session     session_to_component   https://${IP_co

[2016-08-01 16:28] vkosuri commented on #124
@ceol75 did you tried like this?

[code]

[2016-08-02 11:48] ceol75 commented on #124
I solved the problem because I did not cash the right token...
Thank you for your help.

PS: I tried 'verify=${False}', 'verify=False', 'verify=${True}' or 'verify=True'. It is the same behaviour.

[2016-08-02 11:48] #124 closed

[2016-08-09 14:51] accesslubos opened #125 "Delete Request does not work with ${data} attribute containing unicode characters"
I have following request:
[code]

Where ${data} is for example:
[code]

Have tried to feed Put and Delete requests with the same set of data; it worked well for Put but it didn't work well for Delete. So I had a look into code and tried to simply modify one line treating the ${data} input according to the Put request method:
[code]

And it worked. Not sure if this is the best fix but could you ple

[2016-08-09 23:05] bulkan commented on #125
Pull Requests welcome :)

[2016-09-06 03:15] MichaelQinLin opened #127 "[Errno 1] General SSLEngine problem (javax.net.ssl.SSLHandshakeException: General SSLEngine problem)"
Hi @bulkan,

I encountered this issue when using this framework. I was trying to get response from a website without SSL certificate (and I set verify = false to skip verification). The error comes out as Java exception instead of python. I have located the error to RequestsKeywords.py line 340. Can you advise?

Regards,
Michael

[2016-09-06 04:35] bulkan commented on #127
Hi @MichaelQinLin ,

Are you using Jython to run Robot Framework ?

[2016-09-06 05:14] MichaelQinLin commented on #127
@bulkan  Yes. Is that why the error occurs?

[2016-09-21 07:50] tarvohimanen opened #128 "Binary Post Request does not work with arbitrary binary content"
When using Post Request keyword with binary contents (other than x-www-urlencoded), it fails on `UnicodeDecodeError: 'utf8' codec can't decode byte 0xdf in position 5: invalid continuation byte` -error.

Using following test case:
[code]

And provide some binary file `binary.bin` to replicate the issue.

I think the error comes from trying to log response contents with `str.decode('utf-8')` method

[2016-09-21 09:14] vkosuri commented on #128
I think there could be a problem with your binary file. I verified with a sample testcase it is working fine as expected.

[code]
[code]
[code]

[code]

[2016-09-21 09:37] tarvohimanen commented on #128
I made a PR with simple random binary, which causes this error so maybe it's somehow related to binaries of the file.

I'm using:
 - Robot Framework 3.0 (Python 2.7.10 on darwin)
 - requests Version: 2.11.1

[2016-09-25 13:37] vkosuri commented on #128
@tarvohimanen this pr has been merged hence closing this issue

[2016-09-25 13:37] #128 closed

[2016-09-25 13:44] vkosuri commented on #125
This PR https://github.com/bulkan/robotframework-requests/pull/126 has been merged into master hence closing this issue.

[2016-09-25 13:44] #125 closed

[2016-09-25 13:45] vkosuri commented on #116
This issue has been resolved, hence closing this issue.

[2016-09-25 13:45] #116 closed

[2016-09-25 13:45] #108 closed

[2016-09-25 13:45] #109 closed

[2016-09-27 00:33] vkosuri commented on #127
@MichaelQinLin Did you resolved this issue? If possible can you share stack trace?

[2016-09-27 00:35] vkosuri commented on #111
@roimvargas the suggested PR changes are already pushed into master with latest PR, do you have any further comments on this issue?

[2016-09-27 00:35] #111 closed

[2016-09-28 18:33] volinthius opened #131 "POST request fails when both data and files are provided"
When making a POST request with both `data` and `files` keyword arguments the request fails with:

[code]

Requests Python library makes a check against `data` (when using `files`) in `requests/models.py` in function `_encode_files`:

[code]

Here is test case to reproduce the error:

[code]

I'm using the following library versions (from `pip list`):

- requests (2.11.1)
- robotframework (3.0)
-

[2016-09-28 19:17] volinthius commented on #131
I've found a workaround by using two-tuple as `data`:

[code]

However the documentation states that

.

[2016-09-28 19:30] vkosuri commented on #131
@volinthius look into this issue, give few minutes

[2016-09-28 20:30] vkosuri commented on #131
Looks like something went wrong, Need some more time, i am busy with other tasks, If you are interested work on this issue, please submit a pull request.

Failing testcase scenario

[code]

[2016-09-28 21:33] vkosuri commented on #131
Apologies, Not an real bug removing ``bug`` tag from this post.

**The Root cause** of this issue was need to add headers to request to sucessed, A similar question was posted on stackoverflow, please find it here http://stackoverflow.com/questions/27553082/valueerror-data-must-not-be-a-string

After look into this post, you have to rewrite the testcase some thing like below

[code]

[2016-09-28 21:40] vkosuri commented on #131
@volinthius could you try and let me know of your results?

[2016-09-29 05:02] vkosuri commented on #127
@MichaelQinLin any updates?

[2016-09-29 06:29] balp opened #133 "Support HTTPDigest"
I like to use the tests against Gerrit (from google) that uses HTTPDigest as authentications scheme. Support for that would be nice as Requests have it.

[2016-09-29 06:30] bulkan commented on #133
@balp pull requests are welcome.

[2016-09-29 06:31] bulkan commented on #133
@balp check out this test case https://github.com/bulkan/robotframework-requests/blob/master/tests/testcase.txt#L54

[2016-09-29 06:31] #133 closed

[2016-09-29 08:42] balp commented on #133
I missed checking if anything been added after the pip release.

[2016-09-29 08:51] volinthius commented on #131
My system under test requires form submission as `multipart/form-data` using both data and files. I guess this is not currently possible?

[2016-09-29 10:36] vkosuri commented on #133
@balp Nothing i think so, This testcase was added long back https://github.com/bulkan/robotframework-requests/issues/74

[2016-09-29 23:04] roimvargas commented on #111
Hi @vkosuri,
No. The issue is resolved with the PR changes.
Thank you!

[2016-09-30 06:36] volinthius commented on #131
@vkosuri sure, your test case works if I use a service which understands `application/octet-stream` on form submission. But I rather use the workaround posted earlier for now.

[2016-09-30 06:45] vkosuri commented on #131
I tried with your workaround, The sever throws 500 error. If possible could
you please let us know are there any benefit/requiremnet behind this
request?

On Fri, Sep 30, 2016, 12:06 volinthius <notifications@github.com> wrote:

[2016-09-30 16:26] kenden opened #134 "Add doc to use GET with allow_redirects=False"
It was not easy to find who to get  allow_redirects to work.

I finally found how to use it in this PR
https://github.com/bulkan/robotframework-requests/pull/43/files
Use: `=${false}`

[code]

Having an example is the doc could be helpfull

[2016-09-30 16:46] kenden opened #135 "Fix warning "InsecureRequestWarning Unverified HTTPS request is being made""
When using robotframework-requests with https, we get a warning.

### Repro steps:
Put this in file google.robot
[code]

Then execute with:
[code]

The part
[code]

[2016-09-30 22:27] HelioGuilherme66 commented on #135
By default `Create Session` uses `verify=False`
Try to set it to True like in:
[code]

[2016-10-01 06:21] vkosuri commented on #134
@kenden i will update here http://bulkan.github.io/robotframework-requests/

[2016-10-01 06:31] vkosuri commented on #135
@kenden did you tried this options https://github.com/bulkan/robotframework-requests/blob/master/src/RequestsLibrary/RequestsKeywords.py#L94

[code]

[2016-10-01 07:41] kenden commented on #134
Sounds good, thanks!

[2016-10-02 11:05] #134 closed

[2016-10-02 11:05] vkosuri commented on #135
@kenden any updates?

[2016-10-02 11:05] #135 closed

[2016-10-02 11:22] vkosuri commented on #131
@volinthius Seems to some restrictions with requests, a bug thread here https://github.com/kennethreitz/requests/pull/3029

Did you verified the same with requests?

[2016-10-02 20:22] kenden commented on #135
@HelioGuilherme66

    Create Session    session1    https://www.google.com    verify=True

 does the trick thanks!
I see this is documented [here](http://bulkan.github.io/robotframework-requests/), sorry I missed it.

@vkosuri
Should this be the default? It's strange to have to add parameters to get http to work without warnings.
Also,

    Create Session    session1    https://www.google.com

[2016-10-03 07:11] MichaelQinLin commented on #127
Hi @vkosuri , sry for the late reply. The issue has not been resolved. I am avoiding this error by not using Jython when it comes to selenium tests.

[2016-10-03 17:50] volinthius commented on #131
The test passes correctly when using Requests library directly:

[code]

[code]

In dummy back-end it looks like:

[code]

[2016-10-05 02:53] vkosuri commented on #131
@volinthius thank you all your observations, I am little busy with other tasks, Pull requests are much appreciated!!

[2016-10-11 18:18] vkosuri commented on #131
@volinthius I tried your scenario and I could able to reproduce this issue, By reading some of the [documentation ](http://docs.python-requests.org/en/latest/user/quickstart/#post-a-multipart-encoded-file) about multipart-encoded data, The workaround you specified is the correct way of sending a POST request to the unit, when you specified multipart-encoded data.

I am planning add testcase about

[2016-10-11 23:33] bulkan commented on #131
@vkosuri if you're happy I'm happy :)

[2016-10-12 00:08] chetand24 opened #137 "Getting "AttributeError: 'list' object has no attribute 'get'" for array/list json response in"
I am getting AttributeError: 'list' object has no attribute 'get' error when comparing json response with schema with jsonschema.validate().

I tried following:

1.  When I use python's requests module directly with same jsonschema.validate() its working fine.
2.  When the response json dont have list/array on parent, the validation works very well.

Example:
Test Schema:

[code]
[code]
Stack trac

[2016-10-12 03:31] vkosuri commented on #137
Greetings,

Are you using which version?

Are you using python or jython?

If possible could you share your robot test case?

[2016-10-12 03:37] vkosuri commented on #131
Thank you @bulkan,

@volinthius any ideas or suggestions?

[2016-10-12 18:15] chetand24 commented on #137
I am using Python, My Robot Version is 2.9.

On Tue, Oct 11, 2016 at 8:31 PM, Mallikarjunarao Kosuri <
notifications@github.com> wrote:

--
*Chetan Kumar Dewangan*
Software Engineer in Test
San Francisco
chetan.dewangan@rallyhealth.com <eric.zeffery@rallyhealth.com>
Rally <https://werally.com/> by Rally Health, Inc.
<https://www.rallyhealth.com/>

Leave your Rally STAMP on all that you do!

Stay h

[2016-10-13 04:47] vkosuri commented on #137
@chetand24 I am not sure in what context your validating json schema, Could you please let me know how you are trying/writing Robot testcase to validate json schema, If possible could you please share a sample/replicated testcase?

[2016-10-13 04:53] vkosuri commented on #131
@volinthius do you have any final comments?

[2016-10-13 05:10] chetand24 commented on #137
@vkosuri  here is the code which I am using:

Python code which is working perfectly:
`
import json
import jsonschema
from jsonschema import validate

def should_match_schema(schema, test):
    schemaJson = json.loads(schema)
    test_json = json.loads(test)
    validate(test_json, schemaJson, format_checker = jsonschema.FormatChecker())

sc= """
{
"$schema": "http://json-schema.org/draft-04/schem

[2016-10-13 06:20] vkosuri commented on #137
@chetand24 Thank you,  by looking to into you testcase, It's not an issue, It's issue with Robot unicode data, For more information please go through this link http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#scalar-variables

You have to write some thing like this

**json_validator.py**
[code]

**json_schema_validator.robot**
[code]

[2016-10-13 06:32] vkosuri commented on #137
@chetand24 I am closing this issue, if you have other inputs or comments reopen issue

[2016-10-13 16:07] chetand24 commented on #137
@vkosuri my "Set Schema Vars" is

[code]

Which doing exactly same thing.

As I said earlier my other endpoints are working perfectly fine. This issue is specific when the response body has  type:array in first json element.

Can you please reopen this issue.

[2016-10-13 16:20] chetand24 opened #138 "SSLError: hostname "xyz.com" doesn't match either of '*.abc.com' error in 0.4.5 version"
I am getting SSLError: hostname ... doesn't match either of ... error when verify=False provided in "Create Session" keyword.

This is working perfectly in 0.3.8 version.

[2016-10-13 17:06] vkosuri commented on #137
I am not sure, could you provide an example of that response contains array strings?

[2016-10-13 17:10] vkosuri commented on #138
Thank you, could you provide a sample testcase and stack trace, of this issur, this will give an idea how to debug further

[2016-10-13 17:16] chetand24 commented on #137
It is provided in issue description, which is like:

test_res="""[
  "9A32SG",
  "FS4EP6"
]"""

[2016-10-14 05:14] vkosuri commented on #137
I tried with your example it was went file. I have placed robot testcase, are you trying similar like this? If you have any questions please let me know

[code]

[code]

[2016-10-14 18:41] volinthius commented on #131
@vkosuri could we pass through data when using files? I've added pull request: https://github.com/bulkan/robotframework-requests/pull/139.

[2016-10-17 07:23] vkosuri commented on #131
@volinthius Thank you very much, Cheers :+1:

[2016-10-17 07:23] #131 closed

[2016-10-17 07:23] vkosuri commented on #137
@chetand24 Any updates?

[2016-10-17 07:24] vkosuri commented on #138
@chetand24 Any updates?

[2016-10-17 23:08] chetand24 commented on #137
@vkosuri this is working for me now, Thanks.

[2016-10-17 23:10] chetand24 commented on #138
This is something to do with certificate not proper or not available in server for host.

Create Session    ${SERVICE_NAME}    ${REQUEST_HOST}    verify=${verify_certificate}     auth=${auth}

If certificate is having any issue in server I provided "verify=False" which was working fine in 0.3.8 but when I switch to 0.4.5 I am getting error.

[2016-10-18 05:20] #137 closed

[2016-10-18 10:57] vkosuri commented on #138
Did you verified ${verify_certificate} having ``boolean`` values?

If any issues with server with it return ${true} or ${false}?

[2016-10-25 04:29] vkosuri commented on #138
@chetand24 any updates

[2016-10-25 04:29] #138 closed

[2016-12-15 09:01] vanzaj opened #143 "`pip install` fails on python3.x"
create v0.4.6 and push to pypi?

[2016-12-15 11:59] vkosuri commented on #143
@bulkan could you please create v0.4.6

[2016-12-16 00:16] vkosuri commented on #143
@vanzaj meanwhile how about downloading master?

[2016-12-16 05:45] vanzaj commented on #143
@vkosuri, it works fine with a local installation. Is there any reason why current master is not published on pypi? Without it I'd need two different CI configs for py2 and py3.

[2016-12-16 05:54] bulkan commented on #143
https://pypi.python.org/pypi/robotframework-requests/0.4.6

[2016-12-16 05:54] #143 closed

[2016-12-16 06:38] vkosuri commented on #143
@bulkan Thanks

[2017-01-04 13:12] Tset-Noitamotua opened #144 "Python 3.5.2 issue - Importing test library 'RequestsLibrary' failed: ImportError"
Have an issue on Python 3.5.2 (32bit and 64bit) on Windows 7 64bit.

[code]

Take a note on PYTHONPATH which is searched on.  I did an venv

[code]
Then installed robot and the library under that venv.
Shoud the library not be searched somewhere in `/c/Users/me/Envs/ROBOT_35_64/ ... `?

[code]

[2017-01-04 13:31] vkosuri commented on #144
@Tset-Noitamotua if possible can you share your robot code?

[2017-01-04 14:03] Tset-Noitamotua commented on #144
sure ...

[code]

[2017-01-04 15:41] HelioGuilherme66 commented on #144
Like it happened to me once, I think he forgot to install `requests` (it should be a requirement for `robotframework-requests`). If so, RequestsLibrary should have a try/except block when importing `requests` with a better error message.

[2017-01-04 17:57] Tset-Noitamotua commented on #144
I agree @HelioGuilherme66. If error Message would be something like 'request missing' ...

I totally forgot about that dependency cause it's long time ago that i have read documentation of this library.

[2017-01-05 03:26] bulkan commented on #144
I thought this [line](https://github.com/bulkan/robotframework-requests/blob/master/setup.py#L40) in setup.py ensured that requests gets installed or is installed ?

[2017-01-05 03:33] vkosuri commented on #144
I think in python3 it is changed ``install_requires``, we need update it

[2017-01-05 03:35] bulkan commented on #144
Will that change be backwards compatible with Python 2.7 ?

[2017-01-05 04:24] vkosuri commented on #144
Something i have found Issue Solution https://mail.python.org/pipermail/distutils-sig/2013-February/019750.html

[2017-01-05 10:39] Tset-Noitamotua commented on #144
I just tried, but same issue.

##What I've done:
1. cloned your master branch
2. run `python setup.py install`
3. run `robot robot_data.robot (in my playground folder)

[code]

[2017-01-05 10:56] Tset-Noitamotua commented on #144
Importing requests directly works fine:

[code]

[2017-01-05 11:06] Tset-Noitamotua commented on #144
hope that helps somehow:

[code]

I am still curious about [PYTHONPATH](https://github.com/bulkan/robotframework-requests/issues/144#issue-198704280). Why is `/c/Users/me/Envs/ROBOT_35_64` not on PYTHONPATH?

[2017-01-05 13:03] vkosuri commented on #144
can you  try with ``pybot`` instead ``robot``

[2017-01-05 15:08] Tset-Noitamotua commented on #144
I have found something interessting. This is content of `c:\users\me\envs\ROBOT_35_64\scripts\robot.bat` in my ROBOT_35_64 venv :

[code]

## pybot works!!!
`c:\users\me\envs\ROBOT_35_64\scripts\pybot.bat` works, cause it does not mess up paths:
[code]

So I think this is an issue of Robot Framework or of my local Python installations but not issue of your library.

[2017-01-06 04:57] vkosuri commented on #144
@Tset-Noitamotua i am closing this issue, If you need any further help on this issue please feel free to reopen this issue.

[2017-01-06 04:57] #144 closed

[2017-01-09 21:55] mtaylorSF opened #146 "Response Headers"
Is there anyway to get at the response header/cookie given the current implementation?

Example:

I'm looking to grab 'Set-Cookie' and set it as a variable

[2017-01-09 21:59] mtaylorSF commented on #146
nevermind.... ${resp.headers} returns header info.

Thanks

[2017-01-09 21:59] #146 closed

[2017-01-24 21:47] rag1998 opened #148 "Get Request with Data"
We recently faced a need for doing Get Requests that can have a body passed to them, we were able to implement this using python requests library for now, by doing:

[code]

It would be great if you can extend your library to include this functionality.

[2017-01-25 02:07] vkosuri commented on #148
@rag1998 thank will add this feature soon.

[2017-01-25 14:09] rag1998 commented on #148
Thanks :)

[2017-02-27 07:56] liweijian opened #149 "How may I testing the length of resp?"
According to the [official document](http://bulkan.github.io/robotframework-requests/), we can get the kv json pair by `${resp.json()}` , or we can get the response code by `${resp.status_code}`.

I was wondering if maybe we could get the length of resp? In some case, the response has no body(The length of body is zero), and there will be errors if we `${resp.json()}` on that response.

[2017-02-27 09:29] vkosuri commented on #149
Try and let me know

[code]

[2017-02-27 12:40] liweijian commented on #149
Works well, great thanks

[2017-02-27 12:40] #149 closed

[2017-03-03 15:58] hancockks opened #150 "AttributeError: 'unicode' object has no attribute 'items' Windows incompatbility"
There seems to be an incompatibility between the Create Session keyword and later being used by the Get Request keyword when run on a windows environment.  Below is the test case:

Setup Suite
    Create Session    mysession   ${BASE_URL}

Test Member Endpoint Default Functionality
    [Documentation]    Tests the /api/member servlet to check service status
    Verify MSV Inserter Member Servlet I

[2017-03-03 16:50] hancockks commented on #150
As a followup, perhaps the above is a red herring.

I noticed in the unit tests that there are no tests for the timeout parameter.  Removing the timeout parameter and it now passes on windows:

[code]

[2017-03-03 16:56] hancockks commented on #150
Moving timeout=5 to the Create Session keyword causes a similar error.
[code]

[2017-03-06 18:25] vkosuri commented on #150
@hancockks did you find any solution for this?

[2017-03-06 18:27] hancockks commented on #150
My only solution was to remove the timeout named parameter.

[2017-03-07 00:09] bulkan commented on #150
This is the line where timeout is converted to float;

https://github.com/bulkan/robotframework-requests/blob/master/src/RequestsLibrary/RequestsKeywords.py#L135

[2017-03-08 21:32] tguevin opened #152 "Unable to specify a CA_BUNDLE in a verify parameter of Create Session"
I am running

Create Session  MCP  https://1.2.3.4  verify=${CURDIR}${/}ca.cert.pem

But the verify field is not being set.  Testing directly in python requests library works.

[2017-03-08 22:13] vkosuri commented on #150
@hancockks can you tried setting timeout to float member for example

[code]

[2017-03-09 23:27] #152 closed

[2017-03-10 00:53] vkosuri commented on #148
Difference between ``data`` and ``json`` parameters

[code]

The ``json`` parameter does indeed set the ``content-type`` in the headers to ``application/json``.

[code]

The ``data`` parameter, the ``content-type`` in the headers would need to be set manually.

[2017-03-10 00:56] vkosuri commented on #148
@rag1998 this issue was addressed with #154

[2017-03-10 00:56] #148 closed

[2017-03-10 00:57] vkosuri commented on #150
@hancockks I am closing this issue, if you need any further help please feel free to reopen this issue.

[2017-03-10 21:13] hancockks commented on #150
I don't see how you're closing the issue.  There's clearly a problem when run on the windows platform.

I did try adding a timeout=5.0 to the Get Request and it still fails as above:

[code]

[2017-03-11 00:06] vkosuri commented on #150
@hancockks i have retried your problem on my windows machine. It is working fine as expected. could you try below example let me know.

[code]

[code]

[2017-03-13 13:55] hancockks commented on #150
vkosuir, thanks for trying on Windows.  Seeing the same problem, Windows 7.

[code]

I added a Get Requests without the timeout prior to your line just to double-check...here's the debug.txt log

[code]

Here's the output of pip freeze from Python 2.7.13
[code]

[2017-03-13 14:02] vkosuri commented on #150
ha i see you are running robot.run, instead could try like this?

[code]

[2017-03-13 14:11] hancockks commented on #150
Damn...you had me excited for a sec.

[code]

[2017-03-13 15:43] vkosuri commented on #150
can you share ``test.robot`` file?

[2017-03-13 15:45] hancockks commented on #150
Same one you asked me to try above.  The only difference is I duplicated line first Get Request line to remove the timeout to show it worked without the timeout but failed when the timeout was specified.
[code]

[2017-03-13 16:02] vkosuri commented on #150
hmm, I upgraded all the packages still my testcases are green

my packages are and also i see you are using ``robotframework-requests==0.3.5`` could you try to upgrade

`` pip install --upgrade robotframework-requests``

I having fallowing packages, the above test is working fine.
[code]

[2017-03-13 16:18] hancockks commented on #150
Passes with robotframework-requests 0.4.6.  Apologies...must have a hard-coded version someplace.

[2017-03-13 16:19] #150 closed

[2017-03-25 15:39] SylviaLan opened #155 "Post with data but display as '<empty>' in the log file"
There are many new users meet this trouble, actually they write the data arg in the Post Request but they see this in the log file :

They are often wondering whether the data value posted with the request correctly or not. This doubt comes more strongly when the sever gives an error response.

I've read the source code, only when headers is not None and 'Content-Type' in headers, data value can b

[2017-03-26 02:03] vkosuri commented on #155
Thanks, will dig this issue

[2017-03-29 14:19] juri33 commented on #155
+1, took me a while to understand that

[2017-04-18 11:19] Tset-Noitamotua opened #156 "Is it possible to test SOAP based webservices with this library?"
I wonder if it is possible to test SOAP based webservices with this lib.

I am going to dig into that but maybe somebody has already done it?

So far I've found this:

http://stackoverflow.com/questions/18175489/python-soap-using-requests#
https://gist.github.com/toast38coza/17e2ad6c2cfa2e96b0b1

[2017-04-19 08:28] qitaos commented on #155
In function  **_format_data_to_log_string_according_to_header**  in RequestsKeywords.py.
format data to log but some conditions the data lost.

[2017-04-19 09:01] vkosuri commented on #156
@Tset-Noitamotua It would be possible if SOAP requests are in Json format. If it is XML then some of requests procedures are needs to rewrite to handle XML responses.

[2017-05-23 05:53] mvh77 opened #159 "Reusing a session fails"
Hi,

Is it normal that a session cannot be reused, say with two consecutive POST requests? I get a `ValueError: Invalid file object: <_socket._socketobject object at 0x3>` with test cases like the following that have multiple requests using the same session alias:
[code]
If this is normal maybe some documentation could be added on how to manage session in test cases. Thanks!

PS: I'm on Jython in

[2017-05-23 07:07] vkosuri commented on #159
@mvh77 I am not sure will this work on Jython, I will try to install on Jython on my machine, let you about changes https://wiki.python.org/jython/InstallationInstructions

[2017-05-23 09:41] mvh77 commented on #159
It works fine without the second call, and it works if I create a second session with a different name for the second call.

[2017-05-23 10:15] vkosuri commented on #159
Are you trying creating two sessions in single testcase? or in different approach, if possible could you share test code?

[2017-05-23 10:46] mvh77 commented on #159
I need to do a PUT, a POST and a GET in the same test to the same server. Do I need 3 sessions? That's how I have it now but it seems stupid. Isn't CreateSession just an alias? It's not very well documented how it should be used. Should the example I gave you with two POSTs work or not?

[2017-05-23 10:47] vkosuri commented on #159
Not required. Will update documentation about this issue

[2017-05-23 10:47] #159 closed

[2017-05-24 05:29] jvaa opened #160 "Cannot send delete request without data content"
Since version 0.4.6 it seems to be impossible to send delete request without any data content. Some services do not accept content in delete requests and requests will fail. I have tried many ways to set data=None but always some content is sent. In delete request, default data should be None.

[2017-05-24 05:51] vkosuri commented on #160
@jvaa Is it possible share testcase sample with stack trace?

[2017-05-24 07:53] jvaa commented on #160
This is only what I can share right now:

${url}=    ...
Create Session    DeleteCall    ${url}    debug=10
${header}=    Create Dictionary    Content-Type=application/json
${resp}=    Delete Request    DeleteCall    /some/path    headers=${header}

<msg timestamp="20170524 10:49:07.723" level="DEBUG">Starting new HTTPS connection (1): example.org</msg>
<msg timestamp="20170524 10:49:07.737" level

[2017-05-31 01:45] ombre42 commented on #160
No content is sent if you do not send the Content-Type header, which you should not be sending anyways if you are not sending content, right?

[2017-05-31 02:04] ombre42 opened #172 "Default debug level based on Robot's log level"
Enhancement request:
Instead of defaulting the debug level in `Create * Session` keywords to 0, select an appropriate level based on Robot's log level.

This is what we do:
[code]

But it would be nice if this was automatic. Other libraries, such as Selenium2Library, log a lot more based on the Robot log level without any other changes.

One downside is that user's logs could grow much larger just

[2017-05-31 23:11] vkosuri commented on #172
Thanks @ombre42 Looking for a PR

[2017-06-01 06:09] jvaa commented on #160
Nice catch. Service example contained that content type which is why we sent it, but it seems to work without it. However I think content should not be sent if it is not set, but this workaround is good enough.

[2017-06-01 06:09] #160 closed

[2017-06-14 12:50] neilblue opened #173 "Client certificates"
Hello,
is it possible to provide a client certificate and key. With curl I would do it like this:

curl -i -k --key CERT.key --cert CERT.pem -H 'Content-Type:application/json' --data @data.txt https://server:8443/path

Thanks

[2017-06-14 13:12] vkosuri commented on #173
Here is an example
[code]

[2017-06-14 14:47] neilblue commented on #173
Thank you,

I have tried this and when I use a combined (cert/key) pem file, I receive a handshake_failure in this case. However the same pem file works successfully with curl.

[2017-06-15 10:17] neilblue commented on #173
I have been playing with the Certificate class and I can get client TLS to work witih a change like this. I am trying to get the rest of the framework to accept this properly at the moment.

	public KeyStore createCustomKeyStore(String path, String password) {
		KeyStore trustStore;
		try {
            if (password!=null && path.endsWith(".jks")) {
                trustStore = KeyStore.getInstance

[2017-06-15 11:00] vkosuri commented on #173
@neilblue I think you are trying explain your usecase using java ap?, robotframework-requests are based on python [requests](https://github.com/requests/requests)

Could you please try below snippet with your key, if you get any error please traces to debug further.

[code]

[2017-06-15 11:05] neilblue commented on #173
Hi vkosuri, the ca test cases work fine. The problem is that client TLS authentication does not seem to be supported in the library now. The change I posted is and update to com.github.hi_fi.httpclient.security.Certificate to support client authentication in HttpClient.

[2017-06-15 11:14] vkosuri commented on #173
Hi @neilblue Yes i think you were right, If possible could you please submit a PR

before you trying could you please try below snippet and let me know your inputs.

More information how to use cert available here http://docs.python-requests.org/en/master/api/?highlight=tls%20authentication#requests.request

[code]

[2017-06-16 19:34] nkadioglu opened #174 "Create Session - max_tries failing with TypeError"
Hi,

Using v0.4.7, and not specifying a max_tries in Create Session, I am getting the following error:

"TypeError: unsupported operand type(s) for -=: 'Retry' and 'int"

Is this a bug?

[2017-06-17 18:19] vkosuri commented on #174
@nkadioglu Did you tried with float values instead of integer?

[2017-06-18 09:03] Arikah commented on #135
https://stackoverflow.com/questions/29099404/ssl-insecureplatform-error-when-using-requests-package

[2017-06-21 13:53] sebastian-garn opened #175 "Flag allow_redirects ignored"
Hi,

I tried to disable automatic redirect but for some reason the flag is ignored:

[code]

I would expect as a status_code either 301 or 302 but its 200:
[ WARN ] Status Code: 200 History: [<Response [302]>]

I'm using the latest version of robotframework-requests (0.4.7).

[2017-06-22 06:48] vkosuri commented on #175
@sebastian-garn could you please share http headers?

[2017-06-22 06:55] vkosuri commented on #173
@neilblue I missed track of this issue, is there any update on this issue?

[2017-06-22 06:56] vkosuri commented on #175
Replace ``False`` with ``${False}`` It will work

[code]

[2017-06-22 06:56] #175 closed

[2017-06-22 06:56] vkosuri commented on #174
@nkadioglu any update about this issue?

[2017-06-22 06:57] vkosuri commented on #172
@ombre42 any update about this issue?

[2017-06-22 07:01] vkosuri commented on #175
@sebastian-garn I am closing this issue with proposal changes in your script, feel free to reopen if your problem didn't resolved.

[2017-06-22 07:11] sebastian-garn commented on #175
It works. Thanks. Might have been helpful to have at least an example in the documentation about that ;)

[2017-06-22 07:25] vkosuri commented on #175
Will do

[2017-06-22 08:09] neilblue commented on #173
I am pretty busy, but I am tying to put together a PR for this. It will require changed to httpclient as well as the library.

[2017-06-22 11:56] neilblue commented on #173
I have created a branch with the updated but I don't have access to push
the branch.

On 22/06/17 07:55, Mallikarjunarao Kosuri wrote:

[2017-06-23 02:11] vkosuri commented on #173
I think this documentation will help https://help.github.com/articles/about-pull-requests/

[2017-06-28 01:02] nkadioglu commented on #174
I was not specifying a value @vkosuri but the issue is resolved - there was a mismatch between robot framework and the requests library. Thank you!

[2017-06-28 02:13] vkosuri commented on #174
Thanks @nkadioglu please feel free to reopen this issue, if you have anything.

[2017-06-28 02:13] #174 closed

[2017-06-29 11:13] hello-ming commented on #29
This issue is not sovled, PUT method is still not working with Content-Type multipart/form-data

[2017-06-29 11:52] vkosuri commented on #29
@hello-ming could you please share a sample failing testcase of this issue?

[2017-07-06 14:08] elskohder commented on #173
Hi @neilblue @vkosuri,

I have submitted a PR (https://github.com/bulkan/robotframework-requests/pull/171) for using client-side certificates for the Python-based RBF. Maybe this will help in your efforts.

~ Andrew

[2017-07-06 14:25] neilblue commented on #173
Thank you Andrew,

That will be useful. My main problem ATM is lack of time :) I will get
back to this when some of the dust settles.

Thanks,

Neil

On 06/07/17 15:08, elskohder wrote:

[2017-07-11 09:45] vkosuri commented on #173
@neilblue do have any comments on #171

[2017-07-11 09:46] vkosuri commented on #172
@ombre42 I am closing this PR, Please fell free to reopen if you have any further updates on this issue.

[2017-07-11 09:46] #172 closed

[2017-07-11 09:47] vkosuri commented on #29
@hello-ming i am closing this issue. Please fell free to reopen if you have any further updates.

[2017-07-11 09:47] #29 closed

[2017-07-11 09:48] vkosuri commented on #156
@Tset-Noitamotua I am closing this issue, please feel free to reopen if you have further updates

[2017-07-11 09:48] #156 closed

[2017-07-13 08:50] klemmster opened #177 "Licence"
I believe there's a slight mismatch between the "Licence.md" and the "setup.py"
while licence.md refers to MIT, setup.py says 'public domain'

https://github.com/pypa/sampleproject/blob/master/setup.py
shows how to adjust setup.py to also use MIT.

Could you fix it or shall I open a PR? Just don't want to fiddle with the licences.
I'm not a laywer or anything, but his showed up in "versioneye".

T

[2017-07-19 04:39] sandisiva opened #179 "Cache Issue"
Request library when put the first time works fine , second time onwards with data different the request library is sending the first data cached along with the put and get making all the consequtive once fail
Is there any mechanism which we can clear the headers before every request sent avoiding cache.

error:
[code]

[2017-08-10 13:57] NickOnuchin opened #180 "Explicit headers have lower priority than session headers"
Could you change the logic of headers merge in RequestsKeywords.py (in def _merge_headers(session, headers))?

If headers is set explicit for some request it's ignored (overlapped) in case we have the same session header.
I set session headers for my usual requests but some requests need in changed headers.
It would be good if explicit headers have priority over session headers.

[2017-08-14 20:33] hancockks opened #181 "max_retries: positional argument after named argument"
Something appears not quite right with the max_retries named argument (or some other argument)

[code]

[2017-08-17 11:51] vkosuri commented on #181
@hancockks Yes this could be an improvement, By looking into error message,

[code]
The argument should be same order as defined in ``create_session``

[code]

To avoid that error message, you could write something like this

[code]

Do you have any suggestions?

[2017-09-13 12:08] shaib25 commented on #5
Hi,
When using create session keyword, with verify=False, to remove SSL verification cert, request fails on [('system library', 'fopen', 'No such file or directory'), ('BIO routines', 'BIO_new_file', 'no such file'), ('x509 certificate routines', 'X509_load_cert_crl_file', 'system lib')]
When sending the same request with curl --insecure, it works fine.
Is it possible to allow connections to SSL s

[2017-09-14 07:15] vkosuri commented on #5
@shaib25 Did you tried the same request using python requests?

[2017-09-14 08:21] shaib25 commented on #5
When using Process library - Run curl with --insecure flag - it works well, but when working with RequestLibrary, e.g.,  Post Request - it fails.

[2017-10-12 05:59] StefanIGit opened #182 "disable_warnings disables all robot info, warn, debug messages"
Hi,
When I create a session like
`Create Session	somename    https://${IP}:${PORT}	auth=${auth}	disable_warnings=1`

it kills globally all robot info, warn, debug messages.
Only Error level is show.

I tried to suppress this with it and it work but with the above side effect:

`unexpected error: C:\Python27\lib\site-packages\urllib3\connectionpool.py:852: InsecureRequestWarning: Unverified HTTPS r

[2017-10-12 14:42] vkosuri commented on #182
@StefanIGit Thanks for looking into this, could you please submit a pull request with proposed changes?

[2017-10-17 06:22] StefanIGit commented on #182
The thing is I'm not sure if the that is/was the idea behind the "disable_warnings" option.
My expectation for an option like this in a robot library is, disable warnings of that library only (including all imported libraries like here urllib I think)

Here's the pull request [https://github.com/bulkan/robotframework-requests/pull/183](url)

I have not enough experience  with requests / REST APIs

[2017-10-17 07:25] StefanIGit commented on #182
For the "kill all robot logger settings" thing, I did some research and this is what I came up with.
It adds the logging library to a class but does not dictate the way of logging.
Basically it adds by default a /dev/null logger and if the user of a script wants logging she/he can
configure the logging library and be happy.
and it shows how to silence a logger, useful for paramiko :)

`### Logging

[2017-10-17 07:57] StefanIGit commented on #182
Hmm but I'm not sure how to apply it to this lib, it uses a lot of logging ways.
I did not yet fully understand the python logging library and the robot logger.

RequestsKeywords.py line 94, I know where this comes from
 `        self.builtin.log('Creating session: %s' % alias, 'DEBUG')
`
line 183 from robot.api import logger
[code]

line 115... the part I do not understand, I can just remove the

[2017-10-25 01:28] mikepatrick opened #184 "Testing AWS API Gateway endpoints secured by IAM"
_Background_
We have a team that is transitioning from Fitnesse to Robot Framework for some types of tests.  And we're really taking a shine to it, so far.

 In particular, we like being able to test RESTful services in this tabular sort of (non-code) format.  That's the feature that drew us to both Fitnesse and Robot.

In Fitnesse-land, we have a custom fixture for this.  In Robot-land, we haven'

[2017-10-25 05:59] vkosuri commented on #184
@mikepatrick Thanks detailed information. I will vote ``Create IAM Session`` keyword.

And also I really liked your proposal, but i have few questions, Could you provide some examples how you are going handle through robotframework if you implemented this approach.

Always new PRs are welcome

[2017-10-25 21:01] mikepatrick commented on #184
Sure.  My current implmentation includes a new keyword, `create_iam_session` in `RequestsLibrary/RequestsKeywords.py`.  This function doesn't do anything except delegate the call to `_create_session`, which remains unchanged.

The `Create IAM Session` keyword expects you to pass in an actual `auth` object, rather than a list of strings.  This `auth` object is ultimately passed as-is to the underly

[2017-10-26 00:23] vkosuri commented on #184
@mikepatrick Thank you very much, I should appreciate @bulkan the core part has done by him.

The example looks very promising, could you please make PR with your proposals?

[2017-10-26 00:43] afrizen opened #185 "HTTPS, ca_cert and JSON, oh my!"
I am trying to test an HTTPS API with Robot Framework and cannot get a post request to suceed. It involves HTTPS, a security certification, json data. Based on the tests (https://github.com/bulkan/robotframework-requests/blob/master/tests/testcase.txt), it should be simple. But no combination of session create verify, post request verify, list or dictionary header combos seems to satisfy the RF-Re

[2017-10-26 02:06] mikepatrick commented on #184
I will.  I'll need a day or so to put together documentation and test cases, but I'll submit a PR very soon.

[2017-10-26 03:39] vkosuri commented on #184
Excellent 👍

[2017-10-26 06:40] StefanIGit commented on #185
Maybe I'm totally wrong, but...
Your order of keyword is strange to me, you add the auth to the request, not the session creation.
for me it works like that without cert and verify

[code]

[2017-10-26 16:13] afrizen commented on #185
Thanks, Gents (and any Ladies, too)!
Stayed up and finally got through. I needed the auth and verify in the session creation and headers in the Post request. The authorization also needed user and password directly. Here's the working format:
[code]
Whew! I knew this was simple enough. Thanks for listening to me think aloud...

[2017-10-26 16:13] #185 closed

[2017-10-30 05:55] vkosuri commented on #173
@neilblue I am closing this issue #171 merged into master, Please feel free to reopen if you any questions or any concerns.

[2017-10-30 05:55] #173 closed

[2017-10-30 05:55] #155 closed

[2017-10-30 05:56] vkosuri commented on #180
@NickOnuchin apologies for delay response, please feel free to submit a PR to improve the code base.

[2017-10-30 05:57] vkosuri commented on #181
closing due lack of activity. @hancockks please feel free reopen if you have any further information on this issue.

[2017-10-30 05:57] #181 closed

[2017-10-30 05:59] vkosuri commented on #179
closing due to lack of activity on this issue. @sandisiva please feel free reopen this issue if you have further information on this.

[2017-10-30 05:59] #179 closed

[2017-11-01 20:27] wolfebrian2120 opened #187 "Getting response headers from the http request"
When we submit our get request a cookie gets set in the response header. We would like to be able to get that cookie for another http request. using ${resp.json} just returns the json of the body of the response and when I log ${resp} it just prints the http response code i.e. 200. Does current functionality allow the retrieval of the response headers?

[2017-11-01 20:40] wolfebrian2120 commented on #187
Hi thanks for the hard work on this project. We realized that the create session maintains the cookie info.

[2017-11-01 20:40] #187 closed

[2017-11-02 02:54] akoolenbourke opened #188 "Request: Support for bare CONNECT request"
Hi there.

I'd like to be able to perform a CONNECT request without having to couple that to a regular request. This is so I can use the library to test my proxy server handling of CONNECT by itself.

This would also require being able to retrieve the response as well and irrespective of whether the url was HTTPS or HTTP.

Thanks.

[2017-11-02 12:59] vkosuri commented on #187
@wolfebrian2120 Thank you very much.

[2017-11-02 12:59] vkosuri commented on #188
@akoolenbourke could you please submit a PR for this feature request?

[2017-11-02 20:07] akoolenbourke commented on #188
Excuse my ignorance, but do you want me to implement a fix and perform a PR? If so, unfortunately I don't know python and am bogged down with other work. I'll try and get to it at some point.
Thanks

[2017-11-08 00:48] sudhagarc opened #189 "Request to update PIP repository with latest"
I'm wondering if it would be possible to update the PIP repository with latest package. The current version in PIP is 0.4.7, which is 8 months old. I notice quite a few nice changes that went in after that, especially in the areas of SSL, certificate verification, etc.

Thank you.

[2017-11-27 22:25] trogdor259 commented on #189
I am creating a Docker image to run my tests and I'd really rather use the pip install to get the newest version rather than cloning the repo and installing the newest changes.

[2017-12-12 02:04] jjsa01 opened #190 "Passphrase using the method "Client Cert Session""
I have a question about the following request:

[code]

The console waits for someone type the passphrase.
I want to automate this because I have more requests to be exact 42 requests that use this kind of certificates.
There is some way to automate that?

[2017-12-13 17:00] aawoke opened #191 "browser testing with Certficate"
I am trying to automate web browser testing in RF in Linux environment.   Our application requires to have a certificate to a given user.  (in other words, if i want to access our apps via the browser, I have imported the certificate to my browser and get into it that way.)

Question I have is how can i automate that in RF once i open the browser.  I have read somewhere saying create firefox profi

[2017-12-22 12:27] girone opened #192 "Cookie support not documented"
I found that the library supports session cookies, but the documentation both on http://bulkan.github.io/robotframework-requests/ and the docstrings in the code only poorly reflect the way cookies can be incorporated in requests.

[2017-12-28 20:41] Formartha commented on #29
Hi, I'm stuck as well..

I can't send any file using put with multipart/form-data (even with using separator).
What do we need in order to strive to solve it?

[2018-01-03 10:39] Formartha opened #194 "urlopen requst"
Hi,

I wanted to add some request to get urllib3 option of urlopen into robotframework-requests.
I think that with implementing it, we will support requests to load files from external sources (such as NFS).

https://stackoverflow.com/questions/1517616/stream-large-binary-files-with-urllib2-to-file

Thanks,
Mor

[2018-01-11 07:53] teelicht opened #195 "Allow different values for Content-Disposition name and filename"
When creating a post request with an attached file (multipart/form-data), the Content-Disposition block within the boundary looks as follows: `Content-Disposition: form-data; name="file"; filename="file"`

Unfortunately, the 3rd-party API I'm using here needs the value in _filename_ to contain a file extension (e.g. file.xml) while not adding the extension to the value in _name_. Desired output wo

[2018-01-12 02:50] vkosuri commented on #195
@teelicht Thank you, Could you please create pull request to address this issue?

[2018-01-12 08:17] teelicht commented on #195
@vkosuri I looked through the code but as this is the first time I remotely work with python, I'm a bit lost. However, I succeeded by directly implementing the request in python using the requests library and running it from robot:

[code]

Probably within def post_request, the passed files information needs to be extended.

[2018-02-14 03:10] dtnhoang opened #197 "SeleniumLibrary"
Hi, thanks for providing this.  I'm wondering if there is a way to create the session and then utilize that with "Open Web Browser" with the SeleniumLibrary?  I'm having an issue with Selenium where it doesn't send the basic authentication (even when sending http://user:pass@url).  Your library does send the credentials, but I'm unable to utilize the Selenium Library browser keywords with the same

[2018-03-22 09:35] maliwalm opened #198 "Unable to connect REST service which uses Form Based authentication"
Requests Library currently does not support Rest API which can only be used via Form based authentication.

Using java we can use Rest Assured Library to connect to a Rest API through Form based authetication

Reference for Java -
https://github.com/rest-assured/rest-assured/wiki/usage#form-authentication

Can we have similar thing for Python or add support of Form based authentication in existing

[2018-03-22 14:39] trogdor259 commented on #198
Wouldn't that just be digest authentication as documented [here](http://docs.python-requests.org/en/master/user/authentication/#digest-authentication)? If so, that is implemented in the robotframework requests library [here](http://bulkan.github.io/robotframework-requests/#Create%20Digest%20Session).

[2018-05-02 08:07] dom-gibson opened #199 "Robot framework dependency does not have a fixed version."
Currently this libraries dependency on the main robot framework project is not version specific.

This means that it will sneakily upgrade robot despite us installing fixed versions of both robotframework and robotframework-requests

[2018-05-09 15:08] matt-watson90 commented on #155
Was the fix for this issue ever merged in? I've just come across the same issue.

[2018-05-10 03:08] vkosuri commented on #155
@matt-watson90 I think so, If not post your example testcase and with error info

[2018-05-10 09:34] matt-watson90 commented on #155
@vkosuri when I get a chance later today I'll try and pull together a minimal example.

[2018-05-22 03:58] bollwyvl opened #200 ""Get Requests" test fails with 403... sometimes"
This is probably due to trying to hit https://api.github.com, which is being hit [here](https://github.com/bulkan/robotframework-requests/blob/fb771fbaf0950853d52532847f67c206dfdb58cc/tests/testcase.txt#L14).

Perhaps to avoid this Once And For All, the test cases shouldn't even call out to real URLs, instead using a local fake server with a self-signed cert, which is how i've often ended up havin

[2018-05-22 04:34] vkosuri commented on #200
@bollwyvl I think agree with you, If possible could you create PR for this request?

[2018-05-24 06:57] vkosuri commented on #200
@bollwyvl I think ok with httpbin or others

[2018-06-11 15:17] Karthik1384 opened #201 "Can we have a keyword to get specific value from the json response received as we had in HttpLibrary.HTTP"
Can we have a keyword to get specific value from the json response received as we had in HttpLibrary.HTTP

Please let me know if their is an option already available.

Sample:
How we do this using HttpLibrary.HTTP
Note: it seems HttpLibrary.HTTP  is not active for past 6 years
${result}= | Get Json Value | {"foo": {"bar": [1,2,3]}} | /foo/bar

How we do this in POSTMAN
var jsonData = JSON.parse(re

[2018-06-11 15:33] trogdor259 commented on #201
Why not just use `${results} | Set Variable | ${resp["foo"]["bar"]}`? That would set the value of ${results} to be the value of foo.bar.

[2018-06-12 05:10] Karthik1384 commented on #201
Thank you ... Am closing this Issue
Will be helpful if you can suggest some learning point where i can refer these type of examples

[2018-06-12 05:10] #201 closed

[2018-06-18 13:28] AntonioBusillo commented on #131
Hello @bulkan and @vkosuri did you update your Library in order to use multiple files as `multipart/form-data`?

Right now I have this situation:

[code]
along with the rest of the test. As @volinthius suggested in a previous post.

I would like to use as much as possible your Library.

[2018-06-18 14:42] vkosuri commented on #131
@AntonioBusillo Yes Merged into master https://github.com/bulkan/robotframework-requests/commit/a41b600aa9fc0213e67a73c40b8245978a895678

[2018-06-19 09:39] AntonioBusillo commented on #131
Ok it seems to work. Maybe, in the first test, I just messed up something. Thank for your help :)

[2018-06-29 10:17] astrowalker2013 opened #203 "issue with certificate files to connect on a server"
`${resp}  Create Session  rigel   https://${host}    verify=${CURDIR}${/}certif.pem`
  ${resp1}  Get Request	rigel    mediacentric/`

The certificate was generated with this command :
openssl pkcs12 -in certif.p12  -passin pass:<password> -clcerts -out certif.pem

In the Report it's write
SSLError: HTTPSConnectionPool(host='${host}', port=443): Max retries exceeded with url: /toto/ (Caused by SSLE

[2018-08-21 11:13] Rue1983 commented on #120
Is the option verify=False supported in latest version? There was an error said:  "IOError: Could not find a suitable TLS CA certificate bundle, invalid path: False".

[2018-08-29 13:52] salungh opened #204 "Unable to post files with different content types and names"
I'm trying to post two files that corresponds to a part of one message with content-type application/xml and  bodytext/plain.  In postman I go to form data POST and give the key=metadata and value=file1 path (xml) and Key=0 and value=file2 path(txt) and it works fine and I'm able to insert. I'm supposed to use the same name for the files while inserting i.e. metadata and 0 respectively. This is wh

[2018-09-03 19:25] estivalet opened #205 "get with spaces in url in linux generate Bad Request"
I have the following GET rest call

Get Request     consulta    xxx/advogados/PA/NAME%20WITH%20SPACES/0

When I run this kind of GET call in a Linux (CentOS) environment I get a Bad Request

[code]

Running the same call in Windows it works as expected.

I'm using Python 3.7.

Any tip?

[2018-09-04 17:55] bejoyjohn opened #206 "Pip Install does not down load 4.8 version"
Hi I am trying to down load the 4.8 version using Pip. For what ever reason I can not get past 4.7. And 4.7 does not work with json data format.

Temporarily I was able to work around copying those files to Site requirements. However can you please suggest how can I get those files.

[2018-09-06 06:11] vkosuri commented on #206
Need to publish 0.4.8, it has only https://pypi.org/project/robotframework-requests/

[2018-09-29 07:14] kanchi240 opened #207 "post data have same key"
Hello,

My post data have multiple same key name with different value, see below example:

import RequestsLibrary
 _request = RequestsLibrary.RequestsKeywords()
url='http://httpbin.org/post'
 _request.create_session(alias='CBS', url='http://httpbin.org')
r=  _request.post_request(alias='CBS',uri='/post',data={'interests': ['football', 'basketball']})
print r.request.body
r=  _request.post_request(

[2018-10-23 04:41] #197 closed

[2018-10-23 04:41] bulkan commented on #197
I don't believe this is possible

[2018-10-23 04:42] bulkan commented on #180
Closing as there wasn't updates

[2018-10-23 04:42] #180 closed

[2018-10-23 04:42] bulkan commented on #191
Closing as there wasn't updates

[2018-10-23 04:42] #191 closed

[2018-10-23 04:43] bulkan commented on #199
This is intentional we should always be supporting the latest RF and requests versions

[2018-10-23 04:43] #199 closed

[2018-10-23 04:44] bulkan commented on #194
Closing as there wasn't updates

[2018-10-23 04:44] #194 closed

[2018-10-23 04:45] bulkan commented on #182
Closed as there wasn't any further updates

[2018-10-23 04:45] #182 closed

[2018-10-23 04:45] #184 closed

[2018-10-23 04:45] bulkan commented on #188
Closed as there wasn't any further updates

[2018-10-23 04:45] #188 closed

[2018-10-23 05:11] bulkan commented on #189
https://pypi.org/project/robotframework-requests/0.5.0/

[2018-10-23 05:11] #189 closed

[2018-10-23 05:11] bulkan commented on #190
Closing due to no further updates

[2018-10-23 05:11] #190 closed

[2018-10-23 05:12] bulkan commented on #195
Closing due to no further updates

[2018-10-23 05:12] #195 closed

[2018-10-23 05:12] bulkan commented on #203
Closing due to no further updates

[2018-10-23 05:12] #203 closed

[2018-10-23 05:12] bulkan commented on #205
Closing due to no further updates

[2018-10-23 05:12] #205 closed

[2018-10-23 05:12] bulkan commented on #206
I published 0.5.0 now

[2018-10-23 05:12] #206 closed

[2018-10-23 23:15] bulkan commented on #200
I've disabled the failing tests for the moment pending a fix

[2018-10-24 16:16] bollwyvl commented on #200
Sorry, haven't had a chance to get back to this... I should push up the
stuff that works against a local, self signed httpbin... Not sure about the
other providers... I guess make them non critical?

On Tue, Oct 23, 2018, 19:15 Bulkan Evcimen <notifications@github.com> wrote:

[2018-11-09 07:44] Huanxin-leolil opened #210 "Support parallel execute suites?"
All interface calls share a session, which is the session generated by the **[Create Session]** function.

On this basic, we want to do concurrency, using **pabot**, that is, the robot framework-pabot library, so the way we want to use is: all multi-threads share a session for concurrency, so the [Create Session] function is currently called only once, and then all threads share the session.

The

[2018-11-09 07:51] Huanxin-leolil commented on #210
Read the source code of [Create Session] and find ConnectionCache  class, annotation description support multi thread concurrency.

![image](https://user-images.githubusercontent.com/12948382/48249712-e9ff7500-e436-11e8-93e9-ea2b312bfa9b.png)

![image](https://user-images.githubusercontent.com/12948382/48249776-0a2f3400-e437-11e8-8e07-8cc7a8eb36ec.png)

[2018-11-11 05:07] Huanxin-leolil commented on #210
@vkosuri  I submitted a code using request and pabot : [https://github.com/Huanxin-leolil/request_pabot](url)
when I execute  `pabot.bat --pabotlib --processes 2 C:\Users\leo\git\request_pabot`

One of the threads failed to execute,
ERROR MESSAGE: `Non-existing index or alias 'github'.`

![image](https://user-images.githubusercontent.com/12948382/48309240-679ac080-e5b0-11e8-964c-98a72cd09d0c.png)

[2018-11-11 12:16] vkosuri commented on #210
Your testcase is wrong try below test case, you have to define an alias

[code]

[2018-11-11 12:30] Huanxin-leolil commented on #210
@vkosuri My testcase is correct , The alias at the test case refers to variables -> ${session}
`${resp}=	Get Request	${session}	/`
The definition of alias is at **[Suite Setup]**, You can run my example

My project runs in a way that only one alias is generated at **[Suite Setup]**, and then all threads share this alias, the problem is that when other threads use the same alias, there will be an e

[2018-11-13 06:41] Huanxin-leolil commented on #210
Thanks! If the way of sharing session with multiple threads is supported, I think he must be a great achievement. And look forward very much !!!  @vkosuri

[2018-11-13 19:48] kormbrek-rally opened #211 "Please update gh-pages"
README.md links to http://bulkan.github.io/robotframework-requests/, which is out of date.

[2018-11-21 09:18] mangobowl opened #212 "'put request' failed with octet-stream file"
`Put Request` failed with sending octet-stream file, for example:

Create Session | ${session_name} | http://upload.mytestaddress.com/upload | timeout=60 | max_retries=0
${file_data} | Get Binary File | D:\\DSC_6613.jpg
${LocalHeader} | Create Dictionary | Content-type=application/octet-stream
${response}= | Put Request | ${session_name}  | /System/deviceInfo | ${file_data} | headers=${LocalHeader

[2018-11-27 02:34] vkosuri commented on #211
yes, it seems to me, could you please a create a Pull request with proposed changes?

[2018-11-28 03:54] mangobowl commented on #212
@vkosuri I tried and got the same error.

I found where that exception came from:

https://github.com/bulkan/robotframework-requests/blob/11baa3277f1cb728712e26d996200703c15254a8/src/RequestsLibrary/RequestsKeywords.py#L816

and I don't understand why the `data` need to be decoded? Maybe this is unnecessary?

[2018-11-30 18:21] vkosuri commented on #212
@mangobowl could you try to enable debug flag on create session?

[2018-12-13 20:32] aluckin3 opened #213 "multipart/form-data boundary problem"
Hi guys,
I want to use post method but im getting this error:
`u'message': u'Multipart: Boundary not found', u'code': u'UnexpectedError'`
Here is code:
[code]

Before that i added Content-Type=multipart/form-data in headers

Notice that restlet/postman add this boundary automatically for example in restlet you have:

`multipart/form-data; boundary=----WebKitFormBoundaryA0GEnwiQ2lKg4mal`

[2018-12-17 01:08] vkosuri commented on #213
did your tests failed without boundary header?

[2018-12-18 10:20] aluckin3 commented on #213
Yes

[2018-12-25 06:08] pceBuildMaster opened #214 "Add new session type for HTTP based APIs that use a token from authentication"
I have been maintaining a fork of this module with a custom create_session method.  I have started porting to python3 so wanted to inquire about creating a pull request to add this custom method and its Request call back auth class.

So before forking your repo for a pull request I wanted to see if you were open to this.

Here is the doc string from my custom code:

[code]

[2018-12-25 06:57] pceBuildMaster commented on #214
Right after I opened this issue I started looking at the diffs between the older code of this repo I have maintained and the latest I cloned.  I quickly see a new method has been added to support a custom authentication object.

Since my custom code is exactly that: a custom Requests Auth object that I create in the my custom session method in the RF-requests object I see I should change so I use

[2018-12-25 06:57] #214 closed

[2018-12-27 05:37] pceBuildMaster opened #215 "Provide ability to disable all logging from module"
Wanted to inquire about providing a pull request that would allow user to control what is logged by this module.

Most logging from module is small, but a couple calls can be pretty large in Robotframework log depending on the response data.  For example I make API calls to my SUT that can return many KBytes of json data and this currently gets logged at the Debug level.  e.g. in _body_requests():

[2019-01-03 05:52] yiqingstudent commented on #135
good

[2019-01-11 01:01] snovakov opened #216 "insecure https get request"
Using curl, I run:  curl -k $MY_URL/apis/count

I'm having trouble do this using robot requests.

When I try "Create Session      test    ${my_url}       verify=True",  I get a SSL failure error.

SSLError: HTTPSConnectionPool(host='127.0.0.1', port=9001): Max retries exceeded with url: /apis/count (Caused by SSLError(SSLError(1, u'[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c

[2019-01-22 10:14] astrowalker2013 opened #217 "python3 et httplib"
I have an issue with robotframework-requests
with python3 and httplib

[code]
Robot Framework 3.1.1 (Python 3.7 on linux)
How to corect that

[2019-01-25 11:42] jaasal opened #218 "Multiple fields in one multipart/form-data request part"
I am trying to use requestslibrary to upload some files, goal is to achieve this:
[code]

and now I have this:
[code]

I _THINK_ that the only bit I am missing is the "Content-Type: image/jpeg" from the first part, but how on earth I can add that? Currently the file gets uploaded, but it is not considered to be a image file.

[2019-02-09 17:21] ppazos opened #219 "Deprecate To Json keyword in favor of response.json attribute"
I have seen tests supporting ${jsondata}= To Json ${resp.content}

But couldn't find a way to get data out of the jsondata

For instance, I want to check if a specific value is at a path in the json tree, how can that be achieved?

[2019-02-09 21:10] trogdor259 commented on #219
`${jsondata["key"][0]["another_key"]}`

[2019-02-10 19:39] ppazos commented on #219
thanks @trogdor259 is there any documentation about that API? for instance, can I do something like ${jsondata["key"].length} ? Or how to ask is an attribute exists in the JSON like ${jsondata["key"].exists} ?

[2019-02-14 17:25] ppazos opened #222 "Is there a way to log request and response?"
I need to check requests and responses but not sure how can I log them.

[2019-02-19 13:49] extr3mal opened #223 "Applying urlencode in params"
Right now i have a get call that uses user email as a parameter.
what i have :
https://endpoint.url/api/v1/get_request/?email=someuser@somehost.com
what i need
https://endpoint.url/api/v1/get_request/?email=someuser%40somehost.com

The question is how to pass user's email and encode it to url ?

[2019-02-26 12:58] vkosuri commented on #222
I think the debug option will enable this feature. You have to pass this param while creating a session.

[2019-02-26 14:12] snehilmishra commented on #10
want to test file uload scenario by passing no file. How can a pass no file here .

I tries null and "" but getting pass response . I want to make my test fail . Please help me out !

Thanks

[2019-02-26 15:26] trogdor259 commented on #10
try `${EMPTY}` It's a reserved keyword in RF

[2019-03-04 22:28] lucagiove commented on #210
@Huanxin-leolil why do you matter about having the session created only once?
Pabot spawn different processes that cannot share anything directly, so what you need is to create one session for each process but basically what you want to do is just to add everything needed for your tests in a Setup Suite or Setup Test.
So that session is always available from every process and it's shared in a way

[2019-03-17 21:42] lucagiove commented on #222
some further data are logged increasing log level on robot with --loglevel trace

[2019-03-17 21:44] lucagiove commented on #219
you can directly get the dictionary with ${resp.json()}
http://docs.python-requests.org/en/master/user/quickstart/#json-response-content

[2019-04-03 23:49] mentalisttraceur opened #229 "Make `disable_warnings=0` to turn warnings back on."
It [looks like](https://github.com/bulkan/robotframework-requests/blob/master/src/RequestsLibrary/RequestsKeywords.py#L120-L127) the code only ever globally turns warnings off, but can never turn them back on again.

I have a situation where I need to follow best-practices and only narrowly silence warnings for a specific `GET` request, which generates *spurious* and *expected* warnings, but then

[2019-04-16 13:08] rbgarga commented on #174
@nkadioglu I'm facing the same issue here. Do you remember any detail about the fix?

[2019-04-16 19:14] mentalisttraceur commented on #229
I just realized I initially worded the subject line of this issue in a way that could be read as a command or demand.

That was not my intent - I was just trying to be concise - so I have now adjusted it accordingly to reduce the potential for that interpretation.

[2019-04-16 23:31] nkadioglu commented on #174
@rbgarga mismatch between robot framework and the requests library versions.

[2019-05-08 18:10] ppazos commented on #222
tried the debug=1, doesn't show anything extra in the log

[2019-05-08 18:38] ppazos commented on #222
I used this keyword to increase the log level Set Log Level   trace

Still can't see request or response content. I need to debug some requests because I receive 400 responses but can't check why.

[2019-05-08 19:17] lucagiove commented on #222
you've to verify in the log html not in the console

[2019-05-09 17:48] ppazos commented on #222
thanks, I was able to get the needed data from:

Log To Console   ${resp.request.headers}
Log To Console   ${resp.request.body}

[2019-05-09 17:48] #222 closed

[2019-05-15 20:57] ppazos opened #230 "Is it possible to process XML response?"
In the readme there is a resp.json(), is there an equivalent resp.xml() to parse XML responses?

[2019-05-29 06:48] subhednu opened #231 "Unable to post request with gzip as data."

[2019-06-06 21:37] Barbario commented on #230
@ppazos, I've been struggling with a similar issue with some legacy services and was wondering if you found a solution to this.  My current workaround is to make a second request and save it to a list variable . Which gives me a comma separated list  for each line of the XML.  This is a bit of a mess to work with but it's what I have found so far.

`
@{respXML}=    Get Request      mySite      /fe

[2019-06-06 23:47] Barbario commented on #230
After searching a couple more hours I've determined this to be the temporary work around.  Hope this helps as it worked for me.  I'm sure someone else has thought of a better solution out there, I just haven't found it yet.

1.  Had to convert some stuff so that I could work with the list which required "Collections" Library.
2. Created a new keyword which would take the list returned and loop it

[2019-06-07 17:34] ppazos commented on #230
@Barbario thanks, I ended up using the XML library and parsing the XML using the Parse XML keyword.

It would be nice to have a .xml() function like there is with .json() integrated into this library, but using the XML library directly works.

[2019-06-07 17:34] #230 closed

[2019-06-26 15:26] odonnell-anthony commented on #155
Did this get fixed? doesn't seem so...

[2019-06-30 16:25] virpara commented on #223
It does not work when you pass dictionary `{"email": "someuser@host.com" }` to the `params` argument to `Get Request` keyword ?

I think it will URL encode the params since they are appended to the request URL.

[2019-07-05 20:40] virpara opened #232 "Different order of parameters in Get Request keyword compared to all the others (this change was and will be backward incompatible)"
There was addition of `json` parameter in the `Get Request` keyword, but it was added in the argument before `params` parameter. It means that the positional argument which user expects to be set as `params` actually becomes `json`.

Previous signature `get_request(self, alias, uri, headers, json, params, ...)`
Backward compatible signature should be `get_request(self, alias, uri, headers, params,

[2019-07-22 15:23] VVasyaev opened #234 "_utf8_urlencode brokes list url-parameters"
As part of current job i need to check array-type url-parameters.
Like:
    `http://www.google.com/?ids[]=1&ids[]=2&ids[]=3`

To get parameters with same names its possible to pass its values as list.
Like:
[code]

Unfortunately robotframework-requests library's making any list-parameter to be string at the **_utf8_urlencode** method -- so my dictionary gets **ids[]="[1,2,3]"** instead of what it

[2019-08-29 05:39] ManishaBhosale commented on #184
@mikepatrick  I have tried same code that you have done for AWS Authorization in robot framework but it gives me "AWSRequestAuth  object is not iterable".could you please guide me on this?

[2019-09-02 13:30] NadeemMohammad commented on #65
@oleduc
You can declare header as a dictionary variable.

&{headers}=   Content-Type=application/xml

[2019-09-16 11:23] Bhaskar447 commented on #135
hi,
I am using request library in python. when we try to execute the HTTPS request i am getting the follwing error.

request :response = requests.request("GET", url, headers=headers, params=params,verify=True)

**InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-

[2019-09-16 12:02] Arikah commented on #135
You can hide this warning by:

import warning
from requests.packages.urllib3.exceptions import InsecureRequestWarning
warnings.simplefilter('ignore',InsecureRequestWarning)
requests.get(......, verify=False)

On Mon, Sep 16, 2019 at 2:23 PM Bhaskar447 <notifications@github.com> wrote:

--
Arik Aharoni

[2019-09-16 12:11] Bhaskar447 commented on #135
it worked. Thanks

[2019-09-19 09:37] AliAliKhan83 opened #238 "Error accessing https call with self signed certificate"
Hi,
I am calling the creation session on https service which is hosted in local intranet with a self signed certificate. I can easily access the rest service via soupui or chrome but when trying to access the service from the robotframework-request library I am getting below error.

'ProxyError('Cannot connect to proxy.', error(10054, 'An existing connection was forcibly closed by the remote host'

[2019-09-23 06:58] lucagiove commented on #238
Are your python version and requests library up to date?

Have your https session been created just before the request?
Maybe try to paste more context of your usage.

Do you have any error on the server side?
That error seems to be low level related to tcp handshake.

Cheers,
Luca

Il gio 19 set 2019, 11:37 AliAliKhan83 <notifications@github.com> ha
scritto:

[2019-09-24 06:50] lucagiove commented on #223
it should work like virpara said, but you've to pass the parameters as dictionary in "params":

            params=self._utf8_urlencode(kwargs.pop('params', None)),

[2019-09-24 06:50] #223 closed

[2019-09-24 06:57] lucagiove commented on #234
but removing that function still urlencode the values?

[2019-09-24 07:02] lucagiove commented on #234
looking at the requests code the encoding should be already performed so it might work, could you submit a test that shows this bug and a PR with the fix?

[2019-09-26 20:02] lucagiove commented on #211
Done!

[2019-09-26 20:02] #211 closed

[2019-09-29 21:47] karimbou8 commented on #120
Hello
please how did you found solution ?

[2019-09-30 06:58] lucagiove commented on #120
This issue is closed.
verify=${False} is available since long time consider updating the library or ask a more precise scenario.

[2019-10-10 10:06] ppodgorsek opened #243 "Release 0.6.2 not available via pip"
Only versions up to 0.5.0 are available in pip, it would be good to release the latest one there too.

[2019-10-10 10:41] lucagiove commented on #243
Have you tried the 0.6.2? What do you think?
Have you had any issue?

[2019-10-10 10:43] lucagiove commented on #232
I guess now it's too late to change since would break again the compatibility

[2019-10-10 11:09] ppodgorsek commented on #243
This is what I get in my logs when running `pip3 install robotframework-requests==0.6.2`:

The latest version available on [pypi](https://pypi.org/project/robotframework-requests/) is 0.5.0.

[2019-10-10 11:13] lucagiove commented on #243
Ah yes it's not published yet I thought you cloned the repo and manually
installed the lib

Il gio 10 ott 2019, 13:09 Paul Podgorsek <notifications@github.com> ha
scritto:

[2019-10-14 20:54] lucagiove commented on #243
@bulkan @asyrjasalo what to do? shall we publish? we didn't get any feedback actually maybe it's a no news good news :)

[2019-10-14 21:26] bulkan commented on #243
@lucagiove just let me know and i can publish to PyPY

[2019-10-15 16:08] Wolfe1 commented on #243
Ready to update and test on my end once its in pypi. Im just lazy and rather have pip install it and travis run my unit tests haha.

[2019-10-15 16:33] lucagiove commented on #243
@bulkan had some feedback on slack please proceed!!! :+1:

[2019-10-16 07:25] lucagiove commented on #232
Actually also the PUT keyword has not the same order of parameters as the POST :(

[2019-10-16 07:27] lucagiove commented on #219
To be honest I don't see the point of using To Json keyword since the response already has .json attribute.

[2019-10-19 08:59] ppodgorsek commented on #243
Why was this task closed? Pip still doesn't have version 0.6.2 unfortunately.

[2019-10-20 09:39] bulkan commented on #243
Published now.

[2019-10-20 09:39] #243 closed

[2019-10-20 10:45] ppodgorsek commented on #243
Thank you! :)

[2019-10-21 07:53] lucagiove commented on #192
I've updated the doc but cookies are not well documented and not in all parts (eg. updates session doc)

[2019-11-13 13:21] AMaciaga opened #245 "Allow passing auth param to create client cert session"
In my project I need test that uses session with both certificate and auth. Could you modify Create Client Cert Session keyword to accept auth parameter instead of setting it to None by default? Or create new keyword that allows that?

[2019-11-18 13:23] AMaciaga commented on #245
Could you tell me, when you plan to release correction for this issue and is there any demand for specific python version.

[2019-11-18 13:43] necdetterkes opened #246 "I created functions using the requests library"
Hello all,

I created some functions using the request library. So you can directly use this facility file in your projects.

`*** Settings ***
Library     RequestsLibrary
Library     HttpLibrary.HTTP
Library     json
Resource    ../variables/commonVariables.robot

*** Keywords ***
Create Service Session
    Create Session                session                    ${baseurl}                   veri

[2019-11-19 13:29] necdetterkes commented on #246
I added the new one

*** Settings ***
Library     RequestsLibrary
Library     HttpLibrary.HTTP
Library     Collections
Library     json
Resource    ../variables/commonVariables.robot

*** Keywords ***

#REQUEST FUNCTIONS
Create Service Session
    Create Session                session                    ${baseurl}                   verify=True
    ${headers}                    Create Dictionary

[2019-11-20 13:06] lucagiove commented on #246
Look nice what about writing this as part of the library documentation?
Maybe some example how to do basic operations with this Library?

[2019-11-20 13:20] lucagiove commented on #245
As soon as I've some spare time :) I'll work on it and no there are no needs for specific python versions.

[2019-11-21 19:33] adrianyorke opened #247 "README.md test case is failing - might be confusing especially for beginners"
The sample test case in the README.md is failing as "Bulkan Savun Evcimen" is not found in response json.  Looks like you have removed your middle name from your github profile.

PR on it's way.

Thanks,
-Adrian

[2019-11-21 21:33] lucagiove commented on #247
#248 merged

[2019-11-21 21:33] #247 closed

[2019-12-02 16:43] Wolfe1 commented on #155
One of the users of our framework noticed this error today so I believe it is still an issue.

[2019-12-02 16:49] Wolfe1 opened #249 "Post with data and header but display as '<empty>' or 'None' in the log file"
One of the users of our automation framework is running into this confusing log when calling a POST request. Even-though header and data information is sent the log from RequestLibrary will come back and empty or None:

`
Post Request using : alias=postapi, uri=/apis/360facility/v1/assetclasses, data=<empty>, headers=None, files=None, allow_redirects=True
`

I believe this is the same issue that w

[2019-12-02 21:41] lucagiove commented on #249
could you verify what version of the library are you using?

[2019-12-02 22:05] Wolfe1 commented on #249
Ah my mistake, it seems he (any myself) were still on version 0.5.0. The latest version takes care of this.

Sorry about that.

[2019-12-02 22:05] #249 closed

[2019-12-02 23:50] lucagiove commented on #249
no problem ;) thanks

[2019-12-14 18:49] mmikirtumov opened #250 "Cannot find requests_ntlm library"
We try to use request_ntlm_library, but the library throws an error.
Cannot find the request_ntlm library.
I think it will be better to add dependency in requirements.txt

[2020-01-02 20:08] rea78 commented on #250
Hi Guys, the keyword doc library still doesn't work.

[2020-01-06 02:48] bulkan commented on #250
@rea78 you mean this https://bulkan.github.io/robotframework-requests/ ?

[2020-01-06 09:51] lucagiove commented on #250
Here it is https://bulkan.github.io/robotframework-requests/doc/RequestsLibrary.html

[2020-01-10 20:13] james-freitas commented on #135
@Arikah where is the file where you do this tweak?

[2020-01-15 13:25] necdetterkes commented on #246
*** Settings ***
Library     RequestsLibrary
Library     HttpLibrary.HTTP
Library     Collections
Library     json
Resource    ../variables/commonVariables.robot
Resource    ../variables/displayVariables.robot

*** Keywords ***

#REQUEST FUNCTIONS
Create Service Session
    Create Session         session              ${baseurl}                          verify=True
    ${headers}             Create

[2020-01-17 14:45] lucagiove opened #252 "Sessionless keywords"
Fire and forget requests without any previously declared session.
Original requests library already supports this so would be nice to handle it in the same way.

~~We can try to have this feature in place with current keyword structure by triggering the one shot session when alias is `None`.~~ Cannot be done otherwise also uri should be not mandatory.

According to #257 these requests keywords sho

[2020-01-17 15:10] lucagiove opened #253 "Store the latest response for further asserts"
Would be nice to just store the last response so that further keyword could use it instead of using return.

Considerations:
- last response should be session specific
- shall the last request be used globally?

Final implementation:
last response has been stored at library level so that works for session and sessionless keywords

[2020-01-17 15:12] lucagiove opened #254 "Status should be keyword"
Assert keyword for status both in number format and named

[2020-01-20 08:10] lucagiove commented on #250
@rea78 I don't see the relationship with this issue

[2020-01-20 08:10] #250 closed

[2020-01-22 07:29] lucagiove commented on #254
released

[2020-01-22 07:29] #254 closed

[2020-01-22 07:33] lucagiove commented on #215
Hi, I changed actually a bit the logging of this library, actually now logs more :) at least in debug mode.
It will log the whole response / request that's actually very useful for debug, I'd like to provide a max length parameters to eventually truncate the size in order to avoid too big logs.
Would that be enough for your needs or you need something different?
Let's discuss about logging.

Thank

[2020-01-23 05:53] eternalconcert commented on #252
Would you assign this one to me? Sounds quite interesting to me.

[2020-01-23 07:55] lucagiove commented on #252
Hi, that's part of the 0.7 milestone where I plan to change totally the keywords and their behavior.
Before starting to code I'd like to have a better idea how will the final keywords structure will be.
Anyhow I'd like to share some ideas and discuss how to change 0.7 layout, are you on RF slack? we can start a discussion in #requests channel and maybe report then on github.

[2020-01-23 07:56] lucagiove commented on #252
By the way if you want to contribute immediately there are a couple of issues "accepted" where some help of debugging / fixing would be appreciated.

[2020-01-23 08:07] lucagiove opened #257 "Main keywords should fail by default if status code returns an error"
### Problems:
- failure reports are not clear because requests failure are evaluated later when parsing the response
- to solve the above problem you should always assert for status adding more verbosity in keywords
- sometime if the payload/status is not evaluated you cannot realize that a requests

### Possible solutions:
- By default each requests should fail if status code >=400 :+1:
- In each

[2020-01-23 12:21] eternalconcert commented on #252
Hey, yes I am on RF slack. It would be nice to discuss the topic.

I also will check the accepted issues if there is something I can contribute to.

[2020-01-23 18:08] humbienri commented on #257
This seems a rather odd ask.  Fail all Keywords?  Assuming you are using all keywords? Plus doesn't this assume that the request and the check/assertion will be in the same file?

[2020-01-23 18:39] lucagiove commented on #257
Hi @humbienri thanks for your feedback but I don't get your question.
The idea is something like:
`Get Request And Fail On Error    connection    http://example.ex/404`
By default this keyword will fail in case status code is 404.
Or maybe `Get Request    connection    http://example.ex/404    expected_code=404`
If you don't specify nothing as expected_code if code is >=400 keyword will fail.

[2020-01-25 18:16] lucagiove opened #258 "New Keywords Structure"
If this structure will be appreciated and confirmed, all current requests keywords will be **deprecated** because there are at the moment backward incompatible required changes #232
And I'd like to change the default behavior by failing if response has a status code >= 400 #257

### Generic request with method as parameter
Might be useful to do different requests at run-time.
These keywords should

[2020-01-29 21:13] Wolfe1 opened #259 "${EMPTY} is being treated as "" rather than a 'blank' past version 0.5.0"
We have been having issues moving past version 0.5.0 due to some more verbose messaging that is happening after upgrading.

![image](https://user-images.githubusercontent.com/3010366/73397419-1ce69080-42a9-11ea-8862-b83bddded644.png)

Any idea what triggers this additional logging and is there any way to suppress it?

I noticed that in 0.6.2 you say that:

Not sure if that is related but for us we

[2020-01-30 00:18] lucagiove commented on #259
Could you run with trace log level and provide the log.html file? make sure to anonymize your data before, a screenshot of the log.html without sensitive data might be a good choice.

[2020-01-30 00:18] lucagiove commented on #259
Could you provide also the python and requests version?

[2020-01-30 00:21] lucagiove commented on #259
Looking carefully at your output seems that you're comparing two arrays the first part is fine but the second has more detail.
You might compare only the first part of the array but this really depends on what you what to test.

[2020-01-30 16:46] Wolfe1 commented on #259
Python 3.6.3
Requests 2.22.0

In trying to get you an anonymized log I think I found our problem. When capturing the traffic in Fiddler it seems that after version 0.5.0 robotframework-requests is treating ${EMPTY} as "" where before it was an actual blank.

Call:
![image](https://user-images.githubusercontent.com/3010366/73470493-9a63dc80-434d-11ea-94ed-03bc893e8a96.png)

Version 0.6.2/0.6.3:
![i

[2020-01-30 22:26] Wolfe1 commented on #259
Still digging but I found the line that started this, line 1119 in RequestKeywords.py:
`merged_headers = session.headers.copy()`
which used to be:
`merged_headers = headers.copy()`

So now when this code executes it sees it as application/json for formatting which now takes us to:

[code]

Now that its considered JSON the empty data is converted into ""
![image](https://user-images.githubuserconte

[2020-02-03 08:01] lucagiove commented on #259
Hello @Wolfe1 thanks to your hint I was studying the code and this is the commit where I introduced much of the logic change in headers handling:
2499642340231c4102e4fd6ee77ba9de08a90b4e

Basically before default headers had the priority over local headers so local content-type was ignored and now it's not.
Do you think my change is correct?

Another thing I'm thinking that I'm not sure if data sh

[2020-02-03 16:42] Wolfe1 commented on #259
@lucagiove I believe your change to use the local content-type over the session is correct but I am in no means an expert there. On my end we simply set the content-type in the session and make our call but we are using a new session each time:
![image](https://user-images.githubusercontent.com/3010366/73665586-f63ca700-4666-11ea-971a-0d0341252307.png)

I personally haven't used the json= paramete

[2020-02-08 16:59] lucagiove commented on #259
Ok I think I'm going to merge your PR since this is by the way a regression in the 0.5 behavior.
We'll see what to do in the future when/if this keywords will be deprecated since I'm not convinced about encoding data automatically based on the header.

[2020-02-08 16:59] #259 closed

[2020-02-16 06:46] tirkarthi opened #264 "Deprecation warning due to invalid escape sequences in Python 3.7"
Deprecation warning are raised due to invalid escape sequences. This can be fixed by using raw string or escaping them.

[code]

[2020-02-16 09:30] #264 closed

[2020-02-24 17:31] dmiqueli commented on #9
Hi Bulkan

I need an example using Post request to upload a zip file. I'm having a 500 error code every time I try

[2020-02-24 22:30] bulkan commented on #9
@dmiqueli This sample test should help

https://github.com/bulkan/robotframework-requests/blob/master/tests/testcase.robot#L196

[2020-03-12 16:37] robsonpeixoto opened #267 "question: how to define a default user-agent"
I'd like to use a header user-agent to identify the different projects that use robot + requests, but change it every request is very annoying. What's the easier way to do that?

[2020-03-14 01:15] #210 closed

[2020-03-20 23:40] lucagiove commented on #267
Option 1: Create a session and add the modified header in the session than reuse the same session for all the requests
Option 2: Create keywords that override the normal behavior and add the desired headers

I would go for the first option

[2020-03-20 23:40] #267 closed

[2020-03-20 23:47] lucagiove commented on #234
Would be really useful a test to demonstrate this bug, I think it will be fixed with the new keywords that wont add any additional data parsing.

[2020-03-20 23:57] lucagiove opened #270 "Split keywords in different class/files"
In order to avoid having one single big file here is the idea of splitting and inherit from different classes:

[code]

Another option is to rely on the [PythonLibCore](https://github.com/robotframework/PythonLibCore) to split files.

### Development
first experiment: https://github.com/MarketSquare/robotframework-requests/tree/class-splitting
current development: https://github.com/MarketSquare/r

[2020-03-21 14:18] lucagiove commented on #8
Pass a dictionary to the json parameter

[2020-03-31 19:19] abhishekbth01 commented on #109
Is there other way to install robotframework-ExcelLibrary?
Using cached robotframework-excellibrary-0.0.2.zip (61 kB)
    ERROR: Command errored out with exit status 1:
     command: 'c:\users\abhishek\appdata\local\programs\python\python37-32\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Abhishek\\AppData\\Local\\Temp\\pip-install-uvskq9cy\\robotframework-excelli

[2020-03-31 21:58] lucagiove commented on #109
Doesn't seem the right place to ask help for `robotframework-excellibrary` this is a different project.

[2020-04-06 00:04] lucagiove opened #271 "Cannot run tests on Windows"
Parent suite setup failed:
OSError: [WinError 193] %1 is not a valid Win32 application

Probably Windows doesn't like the bash file :)

[2020-04-15 06:11] Manisha0421 opened #274 "Unable to send XML payload in the form of key - value pair for a POST request in robot framework"
Hi,

I have to make a POST request through SOAP to a URL by providing the payload as an XML file in the form of a key value pair, like xml: "content of XML file"

The code is able to read the XML file correctly and displays the content of the file but when making the POST request, it gives "

HTTP/1.1 400 Unable to get data [ xml is required]"

Note: This request is being sent using robot framewor

[2020-04-17 07:37] lucagiove opened #276 "On Session keywords"
### Standard requests on existing sessions
Similar format of keywords as current 0.6 but with:
- the same **minimum required parameters** as original requests library
- the same parameter order as original requests library #232
- with default failing if response has an status code >= 400 #257

**`GET On Session`**    _`session-name`_    _`/resource`_   _`expected_status=401`_
**`POST On Session`**

[2020-04-17 07:40] lucagiove commented on #274
I saw this discussed already on slack, have you found a solution?

[2020-04-17 07:51] lucagiove opened #277 "PyTest for unittests in CI"
I'd like to have separate folders / tests like other RF projects for Acceptance tests and Unit tests.
And put them in CI with GitHub actions.

### Development
https://github.com/MarketSquare/robotframework-requests/tree/pytest

[2020-04-17 07:53] lucagiove opened #278 "Generic Http Requests Keywords"
Might be useful to do different requests at run-time.
These keywords should be used as single documentation point for parameters of all the other keywords.
The first one is sessionless

**`Http Request`**     _`get`_    _`http://example.pl/resource`_
**`Http Request On Session`**    _`session-name`_    _`get`_    _`/resource`_

[2020-04-17 19:07] acaovilla commented on #276
Me, Nicola And Roberta start working here

[2020-04-17 21:44] #271 closed

[2020-04-18 16:37] #277 closed

[2020-04-18 17:43] lucagiove commented on #200
I integrated a local http server that actually is a partial local instance of httbin all tests will be moved to use the local one to reduce latency and possible rate limits.

[2020-04-18 17:43] #200 closed

[2020-04-18 19:52] bollwyvl commented on #200
Fantastic! Thanks!

On Sat, Apr 18, 2020, 13:44 lucagiove <notifications@github.com> wrote:

[2020-04-25 15:34] lucagiove opened #282 "Low level http debug is bugged"
All the library logging is a bit confusing but debug once enabled seems to globally impact all the tests.
I think it should be revisited a bit.

[2020-04-25 23:48] lucagiove commented on #215
Actually in 0.7 most probably with log level **info** the request and response body will be truncated by default after 10.000 chars.
Full body will be shown in debug / trace mode.

[2020-04-25 23:48] #215 closed

[2020-04-26 00:09] lucagiove opened #283 "Data is not logged when Content-Type is not defined"
Due to an error in the parsing function if you misspell or forget content-type header data will be shown as None while is not.

I fixed this by completely changed that logic.

[2020-04-26 00:11] lucagiove opened #284 "Logged body for request and response should be truncated if too long"
Implemented an automatic truncate after 10.000 chars if logging is set to **info**, if it's **debug** or higher full body will be logged.
Now response is printed in logs even with **info** log level

[2020-04-30 13:13] JevgenijH-W opened #286 "{response.json()} did not Work!"
[code]

I get following error:
20200430 14:59:10.470 :  FAIL : Resolving variable '${resp.json())}' failed: SyntaxError: unexpected EOF while parsing (<string>, line 1)

Without this line everything works fine. In DEBUGER msde I see INFO of request response and json is like as it should be.

What am I doing wrong?

[2020-04-30 14:21] #286 closed

[2020-05-01 13:42] #283 closed

[2020-05-01 13:42] #284 closed

[2020-05-02 22:44] lucagiove opened #288 "Positional url with params are wrongly parsed in On Session keywords"
Example:
`${resp}=       GET On Session    ${GLOBAL_ANONYMOUS_SESSION}    entertainment/api/v1/merchandise?content=${content_id}`

For some reason (probably because of the =) the second parameter is not evaluated properly:
`Keyword 'RequestsLibrary.Get On Session' expected 2 to 5 non-named arguments, got 1.`

If I remove the **kwargs in the python keyword than it works.

Workaround solution use ur

[2020-05-06 08:21] pekkaklarck commented on #288
This is a Robot Framework feature [explained in the User Guide](http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#free-keyword-arguments-kwargs). When a keyword accepts `**kws`, all arguments containing `=` are considered to be in `name=value` syntax. If you want to avoid that, you need to use escape syntax like `\=`.

[2020-05-06 12:06] lucagiove commented on #288
Thank you @pekkaklarck ! I'm wondering whether there is anything I can do on library level to intercept this and at least give a warning/message to the user, but I think not.

[2020-05-06 12:36] pekkaklarck commented on #288
Probably the best that can be done is documenting this with keywords that accept **kws. That's how Robot's standard libraries handle this:
http://robotframework.org/robotframework/latest/libraries/Process.html#Run%20Process
http://robotframework.org/robotframework/latest/libraries/BuiltIn.html#Call%20Method

[2020-05-06 23:46] #288 closed

[2020-05-20 22:51] lucagiove commented on #234
I cannot reproduce the problem, during the 0.8 development I made the following tests and always worked (also tested with  `Get Request` keyword)

[code]

[2020-05-20 22:51] #234 closed

[2020-05-25 17:14] barisekici001 commented on #222
well, how to get request ep? @ppazos

[2020-05-25 17:26] lucagiove commented on #222
just open the HTML log :) already in info mode (if you have 0.7 version) you'll see the request/response, it might be truncated change loglevel to debug if you want the complete body

[2020-07-10 20:55] andrewda opened #292 "Support POST request with file list"
With Requests, I can do something like the following to post multiple files. This request includes two files with the "bar" key, which will both be sent in the request.

[code]

As far as I can tell, this is currently not supported in RequestsLibrary, as only a dictionary can be passed as file data. Adding support for a list of files like this would be great!

[2020-07-10 22:02] andrewda commented on #292
I actually got this working by using

[code]

There's gotta be a better way than using `Evaluate` that I'm missing, though...

[2020-08-13 18:30] zhasulan commented on #135
It's worked. Thx

[2020-08-24 05:57] lucagiove commented on #278
Or embedding the verb in the keyword itself for Http ${verb} On Session
https://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#embedding-arguments-into-keyword-names

[2020-08-25 06:19] RaviFefar commented on #135
Please read this post: https://devnote.in/insecurerequestwarning-unverified-https-request

[2020-09-28 03:27] suuuuuper opened #296 "[Bug?]Post Request with params and json is not working"
I'm using Python 3.7.9 and this is my pip list info:
pip                                    20.1.1
requests                               2.24.0
requests-oauthlib                      1.3.0
robotframework                         3.2.2
robotframework-extendedrequestslibrary 0.5.5
robotframework-requests                0.7.1

IDE environment is VsCode with Robot Framework Language Server extension.

[2020-09-28 05:44] suuuuuper commented on #296
Further information:
I've tried:
&{params} =  Create Dictionary    ookName=Roma
&{params} =  Create Dictionary    boookName=Roma
&{params} =  Create Dictionary    bookname=Roma
All successfully send the request, no matter with single or multi items in the dictionary, the log is like this:
Url: http://localhost:8080//BookStore/buy-book?bookname=Roma Expected status: 400 != 200

But only failed with

[2020-09-28 06:36] suuuuuper commented on #296
OK, finally, I found that it was the reponse-checking procedure reporting the error, not the Post Request. It should not be a bug. I'll close this issue.

[2020-09-28 06:36] suuuuuper commented on #296
OK, finally, I found that it was the reponse-checking procedure reporting the error, not the Post Request. It should not be a bug. I'll close this issue.

[2020-09-28 06:36] #296 closed

[2020-10-09 19:49] andreagubellini commented on #219
Hi, I've opened [this](https://github.com/MarketSquare/robotframework-requests/pull/297) PR related to this issue.

[2020-10-09 23:50] andreagubellini commented on #270
I believe this feature has already been done. Should we close it?

[2020-10-10 13:56] andreagubellini commented on #232
What's the plan on this ticket? How do you guys want to manage it?

[2020-10-12 07:57] lucagiove commented on #232
As you can see the new Keywords structure followed completely the original requests order so this will be handled by 0.8 release.

[2020-10-12 08:23] lucagiove opened #299 "Clean and more inspiring README (that pushes for 0.8 beta)"
I'd like to have a fresh new and more inspiring README that underline the On Session 0.8 features and encourage the 0.8beta adoption.

I'd like a very lean README without special cases that allow a newbie to immediately start to use the lib.

[2020-10-12 09:42] lucagiove commented on #270
Still need to move deprecated keywords

[2020-10-23 20:45] #299 closed

[2020-10-23 20:48] #238 closed

[2020-10-23 20:48] lucagiove commented on #238
no answer

[2020-11-02 23:04] lucagiove opened #302 "Add a custom warning for "missing value for argument 'url'" error"
With 0.8 version If you have a = symbol in url then you'll fall in this error `missing value for argument 'url'` that's because RF splits the keyword parameters when **kwargs is used in the python keyword.

Below an example:
[code]

This is ugly but the only option if we want a more clean parameters handling.

I already did an experiment using a decorator to detect such scenario and print a custom

[2020-11-03 14:22] lucagiove opened #303 "Pretty Print in json logging output"
With this development #219 we are going to remove an useful feature: Pretty Printing the json data.
We need to implement this feature in current logging.

[2020-11-09 16:29] adiralashiva8 opened #305 "requests_ntlm not installed while installing library"
`Create Ntlm Session` got failed until user install `requests_ntlm` library explicitly

[2020-11-09 23:14] lucagiove commented on #305
An error should be shown in case of missing library, check it out:
https://github.com/MarketSquare/robotframework-requests/blob/ae9c3bbf4d01a110c19115b77abaa56872c20575/src/RequestsLibrary/RequestsKeywords.py#L351

[2020-11-10 02:59] adiralashiva8 commented on #305
Im getting Nameerror: HttpNtlmAuth is undefined

[2020-11-10 08:13] lucagiove commented on #305
I see I might be able to reproduce it should be a try / except not an if statement

[2020-11-11 22:55] #305 closed

[2020-11-12 22:20] #219 closed

[2020-11-12 22:20] #232 closed

[2020-11-12 22:20] #257 closed

[2020-11-12 22:20] #270 closed

[2020-11-12 22:20] #276 closed

[2020-11-12 22:20] #302 closed

[2020-11-12 22:36] #258 closed

[2020-11-18 17:01] lucagiove opened #307 "Deprecated constant DEFAULT_METHOD_WHITELIST"
[code]

[2020-11-19 00:16] #307 closed

[2021-01-07 12:22] lucagiove commented on #109
By the way in this library execfile has been replaced with compile:

[code]

[2021-01-24 23:30] joelwhitehouse opened #311 "Status Should Be keywork can't check 400-series errors"
# Backround

I'm using `robotframework-requests` to regression test an API.  It's worked out well except for when I attempted to use the `Status Should Be` keyword to assert that an endpoint returned a 400-series error, like `400` or `404`.

# Steps to Reproduce

Run the following in a `.robot` file:

    *** Settings ***
    Library      RequestsLibrary

    *** Test Cases ***
    Perform Check A

[2021-01-25 23:54] lucagiove commented on #311
Hi, thanks for the detailed report but this how the implicit assert has been intended.
If you want to test a specific error case you could pass GET On Session ... expected_status=400 and if you want to make it more explicit you could pass expected_status=any and the use Status Should Be.

Hope this is more clear now.

[2021-01-25 23:54] #311 closed

[2021-01-26 11:09] AdomasSimonenkovas opened #312 "data formatting for requests on session keywords"
i upgraded robotframework-requests package to 0.8.0 version which caused a deprecation warning for * Request keywords. I tried updating my keywords to use * On Session, but my requests fail due to invalid encoding.  Is there a reason why the data formation according to header was removed from the newer keywords? I managed to get my testcases work by adding this line before the request is made
data

[2021-01-26 14:50] zulus opened #313 "Misleading documentation in requests URI"
I tried to use `Get Request` keyword in 0.8, but something is broken, I'm no able to put URI, it's support only path.

In documentation it's information about "URI" not path so I tryied: `Get Request    sess    https://mydomain.com/test`, but result is `https://mydomain.com/https://mydomain.com/test`. Same problem with `Get On Session`

[2021-01-26 22:24] lucagiove commented on #312
Yes, the reason is that original Python requests library already does encoding in cases where is strictly needed and safe I didn't want to change the original library behavior.
Moreover in some situation you couldn't test not encoded payload.

Make sure that headers are written properly and if data is a json just use the json= parameter

[2021-01-26 22:24] #312 closed

[2021-01-26 22:34] lucagiove commented on #313
If you add the full URI when the session is created you just have to complete with the endpoint for each requests.

    Create Session sess https://mydomain.com
    GET On Session sess /test

What's the point of adding the full URI in GET On Session keyword?

[2021-01-26 22:44] zulus commented on #313
I collected all urls on page and want check response status one by one. With python 2 I was able to do this via http lib. For python 3 I found this lib and documentation  „Get Request    sess    URI”, but looks like it misleading me

[2021-01-27 10:27] lucagiove commented on #313
Ok I see the point I might make it more clear in documentation.
You can strip the common url use it during session creation and then just the partial url in single requests keywords.

I'm going to implement in 0.9 session less keywords that might suite your case.

[2021-01-29 17:57] mayribeirofernandes commented on #219
https://github.com/MarketSquare/robotframework-requests/pull/297#issuecomment-769954902

[2021-01-29 20:28] dprevost-LMI opened #314 "PATCH On Session throwing AttributeError: 'str' object has no attribute 'items'"
Hi,

I have changed a `Patch Request` by a `PATCH On Session` and now my test throws `AttributeError: 'str' object has no attribute 'items'`

Here a screenshot of the Robot output
![image](https://user-images.githubusercontent.com/77302423/106322235-880fcd80-6243-11eb-9300-345cd3b19c47.png)

Previsouly my code was:

[code]

now it is

[code]

the data should have been well resolved from the log:
!

[2021-01-29 21:35] lucagiove commented on #314
I've reproduced the error by passing a string as headers, it should be a dictionary.

[2021-02-01 20:59] dprevost-LMI commented on #314
@lucagiove On my side, my tests are using dictionary for the header part:

[code]

[2021-02-01 22:09] lucagiove commented on #314
Please run the test with `--loglevel trace` and look at the data passed to the keyword

[2021-02-02 11:30] sivaeric opened #315 "GET On Session throws error "got multiple values for keyword argument 'verify'" when verify=${False} passed"
Hi @lucagiove ,

The keyword "GET On Session" throws the following error if value for 'verify' is passed. Since I couldn't pass this optional parameter, I was not able to disable server's TLS certificate validation.

TypeError: get() got multiple values for keyword argument 'verify'

`GET On Session   session        /auth   params=${get params}    headers=${headers}  allow_redirects=${false}   ver

[2021-02-04 04:18] dprevost-LMI commented on #314
Thanks will try tomorrow

[2021-02-05 18:56] lucagiove opened #316 "Verify what happens when json and data are passed both"
On slack has been posted an example where body of Post On Session is passed None when both parameters are passed needs more investigation.

[2021-02-08 07:38] joelwhitehouse commented on #311
Thanks for your consideration!

I opened this issue focused on a specific behavior, but I'd like to make a broader appeal to architecture: within `robotframework` and across its most popular libraries, keywords serve only one of two basic functions:

1. constructing state
2. making assertions about the state

This convention is consistent across robot libraries from BuiltIn [0] to the venerable Se

[2021-02-10 21:31] #315 closed

[2021-02-11 05:43] sivaeric commented on #315
Thank you Luca! :)

[2021-02-11 07:23] jbenech opened #318 "Slowness when REST call returns big JSON"
First of all, thank you for this library !

I have an issue when I perform REST call that returns big (1.5M) json. The time to process is about 17s
After investigation it appears that the issue is that the server does not set any `Charset` in the response.
It seems that when the charset is not set by the server, the request library use chardet (see https://requests.readthedocs.io/en/master/user/ad

[2021-02-12 23:51] dprevost-LMI commented on #314
Ohhhh there was a missing space before `expected_status=any` in

`Patch On Session         blockfilter    ${path}    json=${data}    headers=${headers} expected_status=any`

It would be cool to have a better error message than `AttributeError: 'str' object has no attribute 'items'`

The call stack is below if it can help to have a better message:

[code]

[2021-02-12 23:52] #314 closed

[2021-02-13 00:30] lucagiove opened #319 "Better handling of parameters errors"
Ohhhh there was a missing space before `expected_status=any` in

`Patch On Session         blockfilter    ${path}    json=${data}    headers=${headers} expected_status=any`

It would be cool to have a better error message than `AttributeError: 'str' object has no attribute 'items'`

The call stack is below if it can help to have a better message:

[code]

_Originally posted by @dprevost-LMI in htt

[2021-02-16 21:16] lucagiove commented on #313
I now join session url and requests url with urllib urljoin

[2021-02-16 23:23] lucagiove commented on #313
Check it out by installing the new version:

`pip install robotframework-requests --pre`

[2021-02-23 16:37] szabolcstoth opened #320 "utf8_urlencode changes the value of params"
Hej everyone!

In Python using `requests` I can set the same query parameters with different values like this:
[code]

With this dictionary I will get the following:
[code]

I would like to achieve the same with RequestsLibrary:
[code]

But it does not works since it creates the following URL:
`https://www.example.com/page?something=%5B%271%27%2C+%272%27%2C+%273%27%2C+%274%27%2C+%275%27%5D`

As I

[2021-02-23 17:03] lucagiove commented on #320
I always had the felling that parsing the params was wrong. I'm not sure whether this is going to break things but actually that's how original requests library works so... why changing it?
I'm going to remove it in the next alpha and see whether someone complains.

[2021-02-23 17:04] lucagiove commented on #320
I'd like to have a failing test for this but not sure. Maybe comparing params in `url` vs params in `param` if you have a failing test would help.

[2021-02-23 22:24] lucagiove commented on #320
I reproduced and fixed it if you think it's fine I'm gonna merge and build a new 0.9a2 version

[2021-02-23 22:42] lucagiove commented on #311
Hi Joel,

thank you for your suggestion.
To be honest this new behavior that I call "implicit assert" it has been actually broadly discussed: on github, on slack, on specific meetups, at robotframework foundation meetings. The 0.8 pre-release version has been available since months and no one complained about this.

I agree that asserts has been always separated in robotframework but it's also tru

[2021-02-24 07:03] szabolcstoth commented on #320
Thanks for the fix, I also tested it with my example, it seems it works as is should! 👍

[2021-02-24 12:15] bbuzens commented on #40
On Windows 7, using a proxy to access internet
*requests* seems to use badly the system configuration
therefore *robotfralework-requests* doesn't pass *proxies* value well

My configuration

[code]

To [force requests proxy configuration](https://requests.readthedocs.io/en/master/user/advanced/#proxies) by passing arguments to the *get* method

[code]

There the output

[code]

So, i created an an

[2021-02-24 13:55] lucagiove commented on #320
Thanks, give it a try to the new sessionless keywords in 0.9

[2021-02-24 22:49] lucagiove commented on #40
Hi can you try to use the 0.8 version and add the proxies parameter to `GET On Session` keyword?
Or you can install the 0.9 pre-release and try `GET` session less keyword with proxy settings and let me know.

Thank you,
Luca

[2021-02-25 10:37] gkeishin opened #322 "GET HTTPError vs response code and expected_status"
When targeting GET on a URI if its not found / internal server error results in exception `HTTPError` , I can use the `expected_status`  to override it however, it would be great if that accepts multiple values

[code]

Other use cases like where example,

[code]

it would raise the `HTTPError` if expected_status is not used and errors out

if the expected state mismatched, it raise exception as w

[2021-02-25 22:47] lucagiove commented on #322
Thanks for the suggestion of passing multiple expected values, it could be an enhancement.
I'm not sure I understood this instead:

If I understand properly you could specify expected_status='any' and then evaluate the response.

[2021-03-01 04:03] gkeishin commented on #322
Right for improvement.. for instance, say may be a string or list of values

expected_status=[400, 500]
or
expected_status=200, 201

something in that line which user can input.  this gives us the flexibility to be able to anticipate multiple valid return codes from the server.

plus if it doesn't get the expected status, we would want to get return response if errors/mismatched execrated status a

[2021-03-01 19:01] lucagiove commented on #274
No answer

[2021-03-01 19:01] #274 closed

[2021-03-01 19:04] lucagiove commented on #207
This should be the same as #320 that will be fixed with 0.9 version you can already try the alpha version

[2021-03-01 19:04] #207 closed

[2021-03-12 10:50] bbuzens commented on #40
It still raise the same error.

My new configuration :
[code]

*requests* is working but *robotframework-requests* doesn't.

[2021-03-12 11:28] lucagiove commented on #40
Ok, I might have to look at it could you open a new issue since this is closed?

[2021-03-12 11:30] bbuzens commented on #40
With a better analysis, i figured it might be a *requests* issue.

*requests* works well if you define the proxy in a *get* command
[code]

Returns  `200`

But, if you're managing proxies as defined in the [*requests* documentation](https://requests.readthedocs.io/en/master/user/advanced/#proxies)
[code]

You raise en error like this
[code]

So, a right way to pass proxy parameters to any get or h

[2021-03-15 08:29] bbuzens commented on #40
For your information, an issue is opened on requests :
https://github.com/psf/requests/issues/5772#issue-830110982

[2021-03-22 15:22] Se7enquick opened #323 "Status Code 422 using new POST On Session keyword"
I`m facing an issue while refactoring the project with new [RequestName] On Session keywords. Here is the example:

[code]
This returns me 422 status code. But if I replace POST On Session with deprecated Post Request - it works properly. Did I miss smth?

[2021-03-22 23:57] lucagiove commented on #323
If the content type is a json I suggest you to use the parameter  `json=` instead of `data=` 0.8 version does not encode data based on the headers it relies only on the original requests library logic.

Reopen if doesn't work.

[2021-03-22 23:57] #323 closed

[2021-03-25 23:54] tridentsx opened #324 "atest using deprecated keywords"
Since the old style keywords are deprecated shouldn't the atests all be updated to use the On Session instead ?

[2021-03-26 00:16] lucagiove commented on #324
Yep, you are right but until the keywords are not removed should still be tested.

[2021-03-26 00:30] #324 closed

[2021-04-16 12:02] Franz333 opened #327 "Question: Keyword definition and intellisense in visual studio code"
**Description**

I would like to add the keyword definition to visual studio code and access it with the usual ctrl + space.

I am using the [Robot Framework Intellisense](https://marketplace.visualstudio.com/items?itemName=TomiTurtiainen.rf-intellisense) from Tomi Turtiainen which allows me to import third party library.

Is there a json file with the keywords definition somewhere that I could us

[2021-04-16 18:06] lucagiove commented on #327
Hi it doesn't seem that maintained i know @Snooz82 integrated more libraries https://marketplace.visualstudio.com/items?itemName=Snooz82.rf-intellisense
I don't know how he got the json, I think from the documentation, I'd be happy to help also because I'm releasing 0.9 with new keywords.

[2021-04-16 22:22] Snooz82 commented on #327
@Franz333 do not use Intellisense. Also not my Fork. Both are outdated!!!

the plugin Robot Framework Language Server is much much better. With Autocompletion and everything!
https://marketplace.visualstudio.com/items?itemName=robocorp.robotframework-lsp

[2021-04-17 07:00] #252 closed

[2021-04-17 07:00] #253 closed

[2021-04-17 07:00] #320 closed

[2021-04-19 06:59] Franz333 commented on #327
@lucagiove @Snooz82 Hi guys, ok thanks a lot for your help.. I am gonna switch to RF Language Server and see how it goes.. Have a nice day

[2021-04-19 06:59] #327 closed

[2021-04-20 07:18] Franz333 commented on #327
Hi guys,
I closed this issue too early.
Installed the extension you adivsed me. I have a question..
How do I deactivate the info square with definition on hover? I would like it to appear only on deman via a shortcut.
It is appearing everytime my mouse is over a keyword.. really annoying.
Thanks a lot

[2021-04-20 07:33] lucagiove commented on #327
Ok but I don't think this is an issue related to this project :)
Have you instead been able to have requests autocomplete on latest version?

[2021-04-20 08:30] Franz333 commented on #327
you are right, sorry about that.. I have the 0.9 version and autocomplete is on indeed

[2021-04-20 09:21] lucagiove commented on #327
Cool!

[2021-04-20 15:37] cloutierjo commented on #313
This actually cause a new issue. We did use the lib in this way:

    Create Session sess https://mydomain.com/dev
    GET On Session sess /test

Which does a GET on https://mydomain.com/dev/test , Now it's doing it on https://mydomain.com/test which obviously fail. I'm not sure if the way we were using it should be supported going forward, but at least it should be marked as breaking change in th

[2021-04-20 16:20] lucagiove commented on #313
I think there is a big bug here I missed a test case

[2021-04-20 16:44] lucagiove commented on #313
Ok now the behavior is more rfc compliant but slightly different from the past.
To have the right behavior you've to write the test in this way:

[code]

[2021-04-20 16:58] lucagiove opened #329 "Breaking change with url partially defined in Create Session and * On Session keywords"
Like described in this comment: https://github.com/MarketSquare/robotframework-requests/issues/313#issuecomment-823374633
[code]

This case is not working as previously.
Solution is to remove / from `test` and append to `dev/` but this can be considered a breaking change.

[2021-04-20 16:58] #313 closed

[2021-04-21 16:19] lucagiove commented on #329
For a preview of the fix please install the 0.9.1a1 with `pip install -U robotframework-requests --pre`

[2021-04-22 06:57] #329 closed

[2021-05-08 00:31] shrinivasbb opened #331 "Unable to send "#" as a query parameter in GET requests"
When '#" character is passed to the URL as query param with proper escape characters GET request is sent with empty param.

Using Template for testing different query params:

*** Keywords ***
Verify for a given ${param} response is success
     Create Session     testparam               url=http://xxxx.com?param=${param}     headers=${headers}    auth=${auth}
    ${resp}            Get On Session

[2021-05-09 05:48] SunilKumarGU commented on #331
Use hexa value instead of '#' i.e %23. It might work. It worked for me.

[2021-05-10 07:59] shrinivasbb commented on #331
Yes that is a workaround I tried with that already. But this is an issue.

[2021-05-10 08:01] shrinivasbb commented on #331
Yes that is a workaround I tried with that already. But this is a valid issue.

[2021-05-26 08:45] christophehenry88 opened #333 "disable ssl verification"
Hello,

Im creating a session with verify=${False}, but im always getting the error body=526 Invalid SSL Certificate when i post a request.

Is the verify option really working?

[2021-05-26 09:00] lucagiove commented on #333
It should be working but it's a verification on the client side for the server side certificate.
Maybe your error is from server about a client certificate.

[2021-05-26 09:00] #333 closed

[2021-05-26 09:24] christophehenry88 commented on #333
ok thanks, is it possible to use cer file? or its only pem?

[2021-05-31 13:03] mayribeirofernandes opened #334 "Words pt-br with accents is causing 400 Bad Request on the new Post/Put On Session"
I'm migrating some tests with Get/Post/Put Requests to the new Get/Put/Post On Session, but I'm having difficulty with strings with accents (pt-br). See below in the image. What should I do?

![image](https://user-images.githubusercontent.com/26631940/120197089-fe730b00-c1f6-11eb-9556-cc8d5154fb3b.png)

Python 3.9.0
requests                       2.25.1
requests-oauthlib              1.3.0
robotfr

[2021-06-04 20:39] lucagiove commented on #218
You just have to pass the files in a list structure like shown here:
https://2.python-requests.org/en/master/user/advanced/#post-multiple-multipart-encoded-files

And do not add any content-type headers otherwise requests won't add the boundaries header

[2021-06-04 20:39] #218 closed

[2021-06-04 20:53] lucagiove commented on #218
I added a test example here: https://github.com/MarketSquare/robotframework-requests/blob/master/atests/test_post_multipart.robot

[2021-06-07 22:45] lucagiove commented on #334
That's most probably because you're using the data= parameter instead of json= try to swap those parameters.

[2021-06-11 16:58] mayribeirofernandes commented on #334
@lucagiove The same error occurred, however after I converted the String to JSON, it worked.
[code]

[2021-06-11 17:43] lucagiove commented on #334
Can I reproduce it with the fakeapi url you pasted?
Would mind create a Pull Request with a failing test?

[2021-06-12 13:54] mayribeirofernandes commented on #334
https://github.com/MarketSquare/robotframework-requests/pull/335

[2021-07-01 13:19] ch-hassansaeed commented on #135
add these magical lines on start of your code
[code]

[2021-07-16 07:52] nixuewei opened #336 "FAIL : ChunkedEncodingError: ('Connection broken: IncompleteRead(0 bytes read)', IncompleteRead(0 bytes read))"
the same api
use robotframework-requests==0.6.5 and request==2.23.0, it can get response correctly
but if use robotframework-requests==0.9.0 ,it get below error
20210716 15:41:37.148 :  FAIL : ChunkedEncodingError: ('Connection broken: IncompleteRead(0 bytes read)', IncompleteRead(0 bytes read))

[2021-07-16 13:36] sunkusowmyasree opened #337 "How to test kong API with HMAC Authentication"
I am trying to test API's with a robot framework
In Postman We use to write a pre-request script to generate SigningStr with HMAC Authentication format. How to replicate this in robot frameowrk?

[2021-07-19 01:49] nixuewei commented on #336
it seems not the version issue. I put the same script into stg, it can call correct. but if call on local, it has this issue.

[2021-08-17 06:37] hsuan51 commented on #213
Have you solved this?
Do we need to calculate boundary by ourselves?

[2021-08-17 14:21] lucagiove commented on #213
I did a test myself and it's working have a look at the source of [Post Multipart Test code](https://github.com/MarketSquare/robotframework-requests/blob/de384ec75557137049c071061b485810269520dd/atests/test_post_multipart.robot).
It's something requests library does automatically but you have not to add on your own the Multipart headers.

[2021-08-17 23:49] #213 closed

[2021-08-17 23:52] lucagiove commented on #213
Let me know whether this helps now:
https://marketsquare.github.io/robotframework-requests/doc/RequestsLibrary.html#POST%20a%20Multipart-Encoded%20File

[2021-08-18 03:03] hsuan51 commented on #213
@lucagiove Thanks! It's help me a lot.
The important thing is that we don`t need to set content-type when post multipart.
RequestLibrary will provide it automatically.

[2021-08-18 17:43] lucagiove commented on #337
Hi, this is not a really RequestsLibrary related question but more RobotFramework I suggest you to ask on Slack or RF Forum because in your test you can prepare almost everything you want as script or with already existing RF keywords or libraries.
This library only takes care of HTTP communication.
I don't know the details of HMAC but I see there is a python library you might use: https://docs.py

[2021-08-18 17:43] #337 closed

[2021-08-18 17:46] lucagiove commented on #292
This is possible with keyword: [Get File For Streaming Upload](https://marketsquare.github.io/robotframework-requests/doc/RequestsLibrary.html#Get%20File%20For%20Streaming%20Upload)

[2021-08-18 17:46] #292 closed

[2021-08-18 21:47] lucagiove opened #339 "High cpu and memory consumption due to logging"
Seems that with recent version of this library memory and cpu footprint has increased.

See this report: #332
And this thread on Slack:

[2021-08-27 13:11] jesusfj710 opened #340 "`Update Session` don't overwrite the authentification"
Hello there,

Today I was struggling with one problem that I thinks is happening in the library.

If we check the first one case, I use one keyword in order to get a token and then, try to set as header in the same session. This will not work, and for me it is strange. If you check the execution of the Keyword to get the response of the get on `carriers/findAll` you will get a header with the basi

[2021-09-15 11:48] SahithKumarrko opened #341 "403 Forbidden error while connecting to a server from Jenkins"
Hi Team,

I am working on a project to automate a Trade Brokerage system of a client. I need to connect to a server and perform few actions.
I was able to connect from inside the client network, but i was not able to connect from the client's jenkins node. We checked the network connectivity and proxy settings everything is good. We also checked from a java script to connect to the server that als

[2021-09-20 08:49] mikahanninen opened #342 "Keyword 'RequestsLibrary.GET' expected 1 to 4 non-named arguments, got 0."
I am using version 0.9.1

[code]

[2021-09-22 20:45] lucagiove commented on #288
In the end I added a decorator that parses the aruguments and raise a more explanatory error

[code]

[2021-09-22 20:46] lucagiove commented on #342
Hi [this is the problem](https://github.com/MarketSquare/robotframework-requests/issues/288#issuecomment-925316970) that actually I sort of fixed for session keywords but probably forgot to do that for sessionless keywords...

[2021-09-22 21:58] #342 closed

[2021-09-28 16:11] SX91 opened #344 "Inaccurate timeout kwarg description or incorrect handing of it"
`timeout` is described to be either a float or tuple of two floats. Unfortunately, `timeout` from kwargs is passed directly to `_get_timeout`, which returns None or float.

Is it intentional? Or am I using the API incorrectly?

[2021-11-09 14:36] alex7alves opened #345 "Unsupported Media Type error"
I have the following json file:

    {
       "company":[
          {
             "name":"My company",
             "security":"WPA2-PSK"
          }
       ],
       "name":"one name"
    }

I'm trying to send a POST based on this json file but it's getting an error.

My code looks like this:
[code]
But I get the following error:

    POST Response:
    headers={'content-type': 'application/json

[2021-11-09 18:05] alex7alves commented on #345
It was a problem in converting json. I did it like this:

`${body} =  Evaluate  json.loads("""${json}""")
`
Now it worked.

[2021-11-09 18:05] #345 closed

[2021-11-09 21:07] lucagiove commented on #345
You could pass the dictionary to json= parameter instead of data to let requests convert to json

[2021-11-10 14:13] alex7alves commented on #345
Thanks, doing like this: json=${body} solved my problem better.

[2021-11-17 19:35] wlad opened #346 "UnicodeEncodeError: 'latin-1' codec can't encode character '\u2082' in position 289702: Body ('₂') is not valid Latin-1."
I'm trying to POST an XML file which has elements like `<items id="text">SpO₂</items>`. Request fails with following error:

Traceback (most recent call last):
  File "/home/wlad/.venvs/ehrbase/lib/python3.9/site-packages/RequestsLibrary/utils.py", line 138, in decorator
    return func(*args, **kwargs)
  File "/home/wlad/.venvs/ehrbase/lib/python3.9/site-packages/RequestsLibrary/RequestsOnSession

[2021-12-03 11:41] kattinum opened #347 "No keyword GET POST PUT PATCH found in Requests Lib"
Hello,
 I installed the requestLib 0.9.2 and need to use kw GET, POST, PUT, PATCH but they seemed not found in library file. I'm not sure they're still available to use or not because I still see info in keyword manual.

Any suggestion for this issue?

Error message:
No keyword with name 'GET' found. (other KWs show in similar msg)

[2021-12-03 15:29] lucagiove commented on #347
Strange keywords are there :)

[2021-12-03 15:29] #347 closed

[2021-12-04 03:10] kattinum opened #348 "KW for sessionless"
Hello,
 I’m looking for sessionless kws as what’s new in 0.9 version. I saw them in the guide document but they do not work. Do those kws work really?

thank you

[2021-12-04 22:29] lucagiove commented on #348
Sure they work I don't see the point, what error do you get?

[2021-12-05 01:16] kattinum commented on #348
I got no keywords such as POST, GET and so on but any session kws work normally such as Get on session etc. I try to check in lib but I don’t see code there.  Did I miss anything?

[2021-12-05 22:25] lucagiove commented on #348
Here is the code: https://github.com/MarketSquare/robotframework-requests/blob/b70df43fece9b9eaae3f4e9b101443bcad15ce8b/src/RequestsLibrary/RequestsKeywords.py#L155

[2021-12-06 02:16] kattinum commented on #348
I found this lib with code but i don’t know it shows no keyword when I run a script. Any idea to solve with this issue?

[2021-12-06 04:12] #348 closed

[2021-12-26 14:18] robinmatz commented on #245
I would like to contribute to this issue. What I need to know is, should the ``auth`` be of HTTP Basic auth? Or should it be like in ``Create Custom Session`` where any auth type is accepted, but user has to take care of creating the ``auth`` object?

[2021-12-26 22:28] lucagiove commented on #245
I think "Create Client Cert Session" should have also `auth` parameter since all the other keywords have it should be basic auth like the others.
The only problem is that it would be a breaking change.

[2021-12-30 06:23] robinmatz commented on #346
Hi @wlad ,
I was able to reproduce the error.

This cause for this behavior is in python's [http client](https://github.com/python/cpython/blob/1b37268ef10bd20c30d349b8401c88215c8a6be8/Lib/http/client.py).

[Here](https://github.com/python/cpython/blob/1b37268ef10bd20c30d349b8401c88215c8a6be8/Lib/http/client.py#L161-L173), we have the following code:
[code]
the line "return data.encode("latin-1")

[2022-01-31 09:19] tcpdump-examples commented on #135
These InsecureRequestWarning warning messages show up when a request is made to an HTTPS URL without certificate verification enabled.
[3 ways to fix insecurerequestwarning](https://www.howtouselinux.com/post/insecurerequestwarning-in-python-urllib3-requests)

[2022-01-31 13:26] lucagiove commented on #135
In this library you can create a connection with `verify=${False}` or pass the variable to a connection less keyword

[2022-02-10 22:52] jgdevrennes opened #350 "Get the response time of a request returned in the response in keywords GET/POST On Session"
It would be a good feature to have inside keywords "GET On Session" and "POST On Session" the response time of a request returned in the response or else.

Is this planned in your backlog ?

[2022-02-12 23:56] lucagiove commented on #350
I think this information is already available in the response object using the [elapsed](https://docs.python-requests.org/en/latest/api/#requests.Response.elapsed) property.

[2022-02-12 23:56] #350 closed

[2022-02-28 13:55] dreamercz opened #352 "Sending both text and file in form-data POST request"
Hi, I'm trying to POST the following request:
[code]
I cobbled together this:
[code]
but our API returns HTTP 500. The same requests works in Postman just fine. Can you please help? Is there a way to POST both key=value and a file like in the curl above?

EDIT:
Seems like the library defaults to `Content-Type: application/x-www-form-urlencoded` while I'd expect it to be something like `Content-Typ

[2022-02-28 15:08] #352 closed

[2022-03-04 18:50] lucagiove commented on #218
I've no idea, also the origina library uses as example a list of files passed to files= parameter

[2022-03-21 12:33] mikahanninen opened #353 "Too extensive logging"
Can you change `log_response()` and `log_request()` to log at **DEBUG** level instead of **INFO** level.

Especially `response.body` can contain a LOT of data which will unnecessarily fill the log.

[2022-03-21 15:04] mikahanninen commented on #353
Yeah but 10000 characters is quite a lot :) Instead of automatically logging this, this could be left at the user's responsibility and decision if they want to do the logging of especially the response logging.

[2022-04-01 18:54] robinmatz commented on #353
Personally, I like the feature of having the response logged at level info.

The idea to keep this by setting log level to debug would lees to a massive increase in overall log size, because you would now be logging at debug level for ALL libraries used in your automation project.

Maybe settle for a compromise of setting the the truncate char limit at library import?

[2022-04-22 04:29] hemachnadra opened #354 "[Listener] interface printing connection poll messages and also inactive robot file execution"
[Listener] interface printing connection poll messages and also inactive robot file execution.

Listener interfacing inactive  during the  execution's, printing the connection dropped logs msgs  from conncertionpool.py file

2022-04-22 09:47:57,233 : robotListenerWrapper : 1067: DEBUG : Start of Keyword :Wait For Exists Scope : Keyword Keyword Type : Test_Case
2022-04-22 09:47:57,234 : RobotListen

[2022-04-22 13:16] lucagiove commented on #354
It doesn't seem related to requests library.

[2022-04-22 13:16] #354 closed

[2022-05-16 23:31] #339 closed

[2022-05-17 17:49] #245 closed

[2022-05-17 17:57] lucagiove commented on #353
I think for the moment I'll keep as it is.
If there will be still issues with performance I might add something to not log body depending on content-length size.

[2022-05-17 17:57] #353 closed

[2022-05-17 17:59] lucagiove commented on #245
@robinmatz I published a 1.0a1 version with your changes, I hope you can use the library now.
I'll introduce further breaking changes later on this version.

[2022-05-24 14:37] fabiodellagiustina opened #356 "'file-tuple' reported as a kwarg in the documentation"
I would need to upload a YAML file via a POST request.

From the [documentation](https://marketsquare.github.io/robotframework-requests/doc/RequestsLibrary.html#:~:text=multipart%20encoding%20upload.-,file%2Dtuple,-can%20be%20a), I'm trying the following:
`${response}    POST    https://abc.xyz/endpoint    file-tuple=('file', ${fileobj}, 'application/x-yaml')    verify=${False}`
But I get the foll

[2022-05-25 12:58] fabiodellagiustina commented on #356
I got it to work with the following:
`${response} POST https://abc.xyz/endpoint files=${{ {'file': ('file', $fileobj, 'application/x-yaml')} }} verify=${False}`

Note that I was not aware of how to create a tuple in Robot. Thanks to https://stackoverflow.com/questions/65922892/how-to-create-a-list-of-tuples-without-each-pair-being-converted-to-string-in-ro.

However, the [RequestsLibrary documenta

[2022-06-18 13:54] lucagiove opened #357 "Remove all deprecated keywords and re-generate doc"

[2022-06-24 16:57] hernandik opened #360 "Allow_redirection parameter is misleading"
I spend sometime trying to disable "allow_redirection" of my POSTs requests, until I identify only one place where it as clear that I had to use '${False}' instead o 'False'. So I decide to create a simple fix in that documentation, to help other not to get caught on the same problems that I did. Below the fix suggestion.
https://github.com/MarketSquare/robotframework-requests/pull/359

[2022-06-24 16:59] hernandik opened #361 "Misleading allow_redirection parameters"
I spend some time trying to disable the allow_redirection parameter, until I figure out that I had to use ${False} instead of False. I was only able to identify that on one place inside the documentation. After that, I decide to improve the documentation to help others in the future.

[2022-06-24 17:00] hernandik commented on #361
I create a merge request for such fix, please, let me known if I did something wrong during the process. https://github.com/MarketSquare/robotframework-requests/pull/359

[2022-06-28 04:04] kanchi240 opened #362 "could post data encoding support other except utf8"
`_utf8_urlencode` in utils.py is encoding by utf8, could it support other such as gbk?
could it use `content-type` request header if `charset` in it, then use this to encoding?

[2022-06-28 22:01] lucagiove commented on #360
Thank you! Have you reviewed all the keywords to see whether documentation always use ${False/True} instead of the python syntax False/True?

[2022-06-28 22:01] #360 closed

[2022-06-28 22:02] #361 closed

[2022-07-07 22:11] lucagiove commented on #322
As said you could pass 'any' as expected status in order not to let the keyword fail.

[2022-07-08 06:49] codeater7 opened #363 "If the Mongo ObjectId is passed through the req body, it does not parse !"

[2022-08-01 21:55] lucagiove commented on #363
more info are needed, please add an example or even better a failing test.

[2022-08-01 21:55] #363 closed

[2022-08-01 23:04] lucagiove commented on #356
fixed in 40f03cd2a425fdb249a60d3dfa50f6ab7e9eadcb

[2022-08-01 23:04] #356 closed

[2022-08-02 21:17] lucagiove commented on #341
I believe there is something wrong with authentication / authorization in your network most probably not related to Requests.

[2022-08-02 21:17] #341 closed

[2022-08-02 21:19] lucagiove commented on #340
thank you @robinmatz for the help

[2022-08-02 21:19] #340 closed

[2022-08-02 21:20] lucagiove commented on #336
I'm sorry never saw similar errors.

[2022-08-02 21:20] #336 closed

[2022-08-02 21:23] lucagiove commented on #331
I don't quite understand the example

[2022-08-02 21:23] #331 closed

[2022-08-07 21:04] lucagiove commented on #344
You are right currently this library is reducing the original library api only to single float variable instead of a tuple, I'll have a look into this.

[2022-08-07 21:08] lucagiove commented on #318
I don't think this is possible.
Best option would be for the server to return the proper encoding in headers to avoid guess algorithm.

[2022-08-07 21:08] #318 closed

[2022-09-15 06:21] Bosch-Eli-Black commented on #353
@lucagiove Can this be reopened? 🙂  We're running into a similar issue, but for file uploads.

When we do a PUT/POST with `form-data` to upload a file, we end up with logs that look like this:
[code]

This inflates the size of our logs by a _lot_, since we're doing a lot of file uploads for our testing 😆

I'd like to propose this solution:
- Continue to truncate after 10k characters
- Add an optio

[2022-10-24 03:59] webloginwu commented on #218
I have the same requirement as @emanlove,  robotframwork don't support multiple parts that are not all files.
I got the below error:
The server cannot or will not process the request, only one file support

[2022-10-26 13:22] Serhiy1 opened #364 "delete all session keyword calls empty_cache method on robot.utils.connection_cache instead of close_all leading port exhaustion"
I have been experiencing at my work has been experiencing random connection timeouts in our azure CI pipelines. The cause may be port exhaustion on the CI machines.
The Delete All Sessions keyword calls the `empty_cache` method on a `robot.utils.connection_cache` object. But I think that is incorrect. since all it does is remove any references to the session objects and lets the garbage collector

[2022-10-26 13:39] #364 closed

[2022-11-26 17:10] Harm10 opened #366 "Disable warnings not working properly?"
I am using version 0.9.4 on RF 4.1.3.
I have weird behavior of disable_warnings=1.
I set this option on create session together with max_retries=5.
To check if I have a proper connection I execute a valid command on get on session.
If the connection is bad I get 5 warnings on console before the keyword fails.
I can suppress these warnings if I add disable_warnings=1 on get on session!
If the conne

[2022-11-30 11:01] Serhiy1 opened #367 "Decorators hide arguments for keywords, breaking intellisense for Vscode and robot LSP"
Using the robotframework-requests library with the Robot language server plugin for vs code. I have noticed that auto-complete does is not aware of the arguments for all of the keywords. instead, it reports `*args and **kwargs`.

![image](https://user-images.githubusercontent.com/28574129/204778398-ee443de8-7ee1-47c2-b62d-018cf0f00eeb.png)

This is due to the decorator functions `warn_if_equal_sym

[2022-11-30 14:39] nmoreira opened #369 "GET On Session is replacing '//' in url"
We have a test where we need to send a GET request with a few parameters in the url.
An example of the correct url is: `http://myserver.com/somepath/<parameter1>/<parameter2>`
The test we are running consists in verify some behaviour of the application when parameter1 is missing, thus the url that should be used in our test would be: `http://myserver.com/somepath//<parameter2>`.

We are opening th